absl-py==0.10.0
appdirs==1.4.4
attrs==20.1.0
beautifulsoup4==4.9.1
booleanOperations==0.9.0
cached-property==1.5.1
certifi==2020.6.20
cffi==1.14.2
cffsubr==0.2.7
chardet==3.0.4
click==7.1.2
commandlines==0.4.1
compreffor==0.5.0
cu2qu==1.6.7
defcon==0.7.2
Deprecated==1.2.10
Flask==1.1.2
font-v==1.0.2
fontbakery==0.7.29
fontdiffenator==0.9.6
fontmake==2.2.0
fontMath==0.6.0
fonttools==4.14.0
freetype-py==2.2.0
fs==2.4.11
gfdiffbrowsers==0.1.7
gftools==0.4.2
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.7
glyphsLib==5.1.11
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
opentype-feature-freezer==1.30.0
opentype-sanitizer==8.0.0.post2
Pillow==7.2.0
protobuf==3.13.0
pybrowserstack-screenshots==0.1
pycairo==1.19.1
pyclipper==1.2.0
pycparser==2.20
pygit2==1.2.1
PyGithub==1.53
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
soupsieve==2.0.1
strictyaml==1.1.0
tabulate==0.8.7
ttfautohint-py==0.4.3
typing-extensions==3.7.4.3
ufo2ft==2.15.0
ufoLib2==0.8.0
ufolint==1.0.0
uharfbuzz==0.12.0
unicodedata2==13.0.0.post2
Unidecode==1.1.1
urllib3==1.25.10
vttLib==0.9.1.post2
Werkzeug==1.0.1
wrapt==1.12.1
