<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>99</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>106.25</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>84.5</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-36.5</real>
      <key>public.kern2.O</key>
      <real>-42.75</real>
      <key>public.kern2.S</key>
      <real>-15.5</real>
      <key>public.kern2.T</key>
      <real>-105.5</real>
      <key>public.kern2.U</key>
      <real>-42.75</real>
      <key>public.kern2.V</key>
      <real>-83.75</real>
      <key>public.kern2.W</key>
      <real>-98.25</real>
      <key>public.kern2.X</key>
      <real>-15.5</real>
      <key>public.kern2.Y</key>
      <integer>-101</integer>
      <key>public.kern2.d</key>
      <real>-34.5</real>
      <key>public.kern2.f</key>
      <real>-37.25</real>
      <key>public.kern2.o</key>
      <real>-44.5</real>
      <key>public.kern2.quoteright</key>
      <real>-65.5</real>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <real>-34.5</real>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <real>-68.25</real>
      <key>public.kern2.w</key>
      <integer>-51</integer>
      <key>public.kern2.x</key>
      <real>-22.75</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-15.5</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-27.25</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-22.75</real>
      <key>public.kern2.Y</key>
      <real>-32.75</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-22.75</real>
      <key>public.kern2.T</key>
      <real>-15.5</real>
      <key>public.kern2.V</key>
      <real>-12.75</real>
      <key>public.kern2.W</key>
      <real>-12.75</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-21</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-37.25</real>
      <key>public.kern2.d</key>
      <real>-17.25</real>
      <key>public.kern2.o</key>
      <real>-27.25</real>
      <key>public.kern2.s</key>
      <real>-17.25</real>
      <key>public.kern2.v</key>
      <real>-62.75</real>
      <key>public.kern2.w</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <real>-24.5</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-71</integer>
      <key>public.kern2.AE</key>
      <real>-152.75</real>
      <key>public.kern2.J</key>
      <real>-58.25</real>
      <key>public.kern2.O</key>
      <integer>-31</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-15.5</real>
      <key>public.kern2.a</key>
      <real>-85.5</real>
      <key>public.kern2.d</key>
      <real>-72.75</real>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <real>-63.75</real>
      <key>public.kern2.n</key>
      <real>-65.5</real>
      <key>public.kern2.o</key>
      <real>-78.25</real>
      <key>public.kern2.p</key>
      <real>-68.25</real>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.r</key>
      <real>-55.5</real>
      <key>public.kern2.s</key>
      <real>-53.75</real>
      <key>public.kern2.t</key>
      <real>-42.75</real>
      <key>public.kern2.u</key>
      <real>-35.5</real>
      <key>public.kern2.v</key>
      <integer>-51</integer>
      <key>public.kern2.w</key>
      <real>-33.75</real>
      <key>public.kern2.x</key>
      <real>-63.75</real>
      <key>public.kern2.y</key>
      <real>-49.25</real>
      <key>public.kern2.z</key>
      <real>-63.75</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-54.5</real>
      <key>public.kern2.V</key>
      <real>-22.75</real>
      <key>public.kern2.W</key>
      <real>-22.75</real>
      <key>public.kern2.Y</key>
      <real>-42.75</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-15.5</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-26.5</real>
      <key>public.kern2.O</key>
      <real>-52.75</real>
      <key>public.kern2.S</key>
      <real>-18.25</real>
      <key>public.kern2.T</key>
      <integer>-41</integer>
      <key>public.kern2.U</key>
      <real>-22.75</real>
      <key>public.kern2.V</key>
      <integer>-31</integer>
      <key>public.kern2.W</key>
      <real>-18.25</real>
      <key>public.kern2.Y</key>
      <real>-28.25</real>
      <key>public.kern2.a</key>
      <real>-27.25</real>
      <key>public.kern2.d</key>
      <real>-47.25</real>
      <key>public.kern2.f</key>
      <real>-34.5</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-82.75</real>
      <key>public.kern2.w</key>
      <real>-52.75</real>
      <key>public.kern2.x</key>
      <real>-27.25</real>
      <key>public.kern2.y</key>
      <real>-52.75</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-15.5</real>
      <key>public.kern2.O</key>
      <real>-67.25</real>
      <key>public.kern2.T</key>
      <real>-97.25</real>
      <key>public.kern2.U</key>
      <real>-44.5</real>
      <key>public.kern2.V</key>
      <real>-97.25</real>
      <key>public.kern2.W</key>
      <real>-82.75</real>
      <key>public.kern2.Y</key>
      <real>-122.75</real>
      <key>public.kern2.d</key>
      <real>-24.5</real>
      <key>public.kern2.hyphen</key>
      <real>-61.75</real>
      <key>public.kern2.o</key>
      <real>-27.25</real>
      <key>public.kern2.quoteright</key>
      <real>-152.75</real>
      <key>public.kern2.quotesingle</key>
      <integer>-170</integer>
      <key>public.kern2.s</key>
      <real>-17.25</real>
      <key>public.kern2.v</key>
      <real>-64.5</real>
      <key>public.kern2.w</key>
      <real>-44.5</real>
      <key>public.kern2.y</key>
      <real>-51.75</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-42.75</real>
      <key>public.kern2.AE</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <real>-12.75</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-54.5</real>
      <key>public.kern2.V</key>
      <real>-42.75</real>
      <key>public.kern2.W</key>
      <real>-42.75</real>
      <key>public.kern2.X</key>
      <real>-58.25</real>
      <key>public.kern2.Y</key>
      <real>-65.5</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-61.75</real>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-91</integer>
      <key>public.kern2.AE</key>
      <real>-127.25</real>
      <key>public.kern2.J</key>
      <real>-82.75</real>
      <key>public.kern2.T</key>
      <real>-37.25</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-22.75</real>
      <key>public.kern2.X</key>
      <real>-32.75</real>
      <key>public.kern2.Y</key>
      <real>-28.25</real>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <real>-51.75</real>
      <key>public.kern2.g</key>
      <real>-34.5</real>
      <key>public.kern2.o</key>
      <real>-51.75</real>
      <key>public.kern2.period</key>
      <real>-123.75</real>
      <key>public.kern2.s</key>
      <real>-32.75</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-22.75</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <real>-12.75</real>
      <key>public.kern2.W</key>
      <real>-12.75</real>
      <key>public.kern2.Y</key>
      <real>-18.25</real>
      <key>public.kern2.d</key>
      <real>-37.25</real>
      <key>public.kern2.g</key>
      <real>-34.5</real>
      <key>public.kern2.o</key>
      <real>-37.25</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-18.25</real>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>-17.25</real>
      <key>public.kern2.S</key>
      <real>-12.75</real>
      <key>public.kern2.T</key>
      <real>-15.5</real>
      <key>public.kern2.V</key>
      <real>-25.5</real>
      <key>public.kern2.W</key>
      <real>-22.75</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-28.25</real>
      <key>public.kern2.t</key>
      <real>-27.25</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <real>-22.75</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-95.5</real>
      <key>public.kern2.AE</key>
      <real>-147.25</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-54.5</real>
      <key>public.kern2.S</key>
      <real>-15.5</real>
      <key>public.kern2.X</key>
      <real>-12.75</real>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-83.75</real>
      <key>public.kern2.colon</key>
      <real>-87.25</real>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-44.5</real>
      <key>public.kern2.g</key>
      <real>-104.5</real>
      <key>public.kern2.hyphen</key>
      <integer>-120</integer>
      <key>public.kern2.n</key>
      <real>-78.25</real>
      <key>public.kern2.o</key>
      <real>-105.5</real>
      <key>public.kern2.p</key>
      <real>-78.25</real>
      <key>public.kern2.period</key>
      <real>-137.25</real>
      <key>public.kern2.r</key>
      <real>-82.75</real>
      <key>public.kern2.s</key>
      <real>-98.25</real>
      <key>public.kern2.t</key>
      <real>-44.5</real>
      <key>public.kern2.u</key>
      <real>-85.5</real>
      <key>public.kern2.v</key>
      <real>-78.25</real>
      <key>public.kern2.w</key>
      <real>-75.5</real>
      <key>public.kern2.x</key>
      <real>-68.25</real>
      <key>public.kern2.y</key>
      <real>-78.25</real>
      <key>public.kern2.z</key>
      <real>-75.5</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-42.75</real>
      <key>public.kern2.AE</key>
      <real>-77.25</real>
      <key>public.kern2.J</key>
      <real>-12.75</real>
      <key>public.kern2.X</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-83.75</real>
      <key>public.kern2.AE</key>
      <real>-126.5</real>
      <key>public.kern2.J</key>
      <integer>-51</integer>
      <key>public.kern2.O</key>
      <real>-42.75</real>
      <key>public.kern2.S</key>
      <real>-25.5</real>
      <key>public.kern2.V</key>
      <real>-12.75</real>
      <key>public.kern2.W</key>
      <real>-12.75</real>
      <key>public.kern2.X</key>
      <real>-12.75</real>
      <key>public.kern2.Y</key>
      <real>-12.75</real>
      <key>public.kern2.a</key>
      <real>-58.25</real>
      <key>public.kern2.colon</key>
      <real>-47.25</real>
      <key>public.kern2.d</key>
      <real>-62.75</real>
      <key>public.kern2.g</key>
      <real>-65.5</real>
      <key>public.kern2.hyphen</key>
      <real>-77.25</real>
      <key>public.kern2.n</key>
      <real>-57.25</real>
      <key>public.kern2.o</key>
      <real>-68.25</real>
      <key>public.kern2.p</key>
      <real>-57.25</real>
      <key>public.kern2.period</key>
      <real>-127.25</real>
      <key>public.kern2.r</key>
      <real>-52.75</real>
      <key>public.kern2.s</key>
      <real>-62.75</real>
      <key>public.kern2.u</key>
      <real>-57.25</real>
      <key>public.kern2.v</key>
      <real>-25.5</real>
      <key>public.kern2.w</key>
      <real>-25.5</real>
      <key>public.kern2.x</key>
      <real>-25.5</real>
      <key>public.kern2.y</key>
      <real>-25.5</real>
      <key>public.kern2.z</key>
      <real>-32.75</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-98.25</real>
      <key>public.kern2.AE</key>
      <integer>-131</integer>
      <key>public.kern2.J</key>
      <integer>-51</integer>
      <key>public.kern2.O</key>
      <real>-42.75</real>
      <key>public.kern2.S</key>
      <real>-22.75</real>
      <key>public.kern2.V</key>
      <real>-12.75</real>
      <key>public.kern2.W</key>
      <real>-15.5</real>
      <key>public.kern2.X</key>
      <real>-12.75</real>
      <key>public.kern2.Y</key>
      <real>-12.75</real>
      <key>public.kern2.a</key>
      <real>-55.5</real>
      <key>public.kern2.d</key>
      <real>-62.75</real>
      <key>public.kern2.hyphen</key>
      <real>-64.5</real>
      <key>public.kern2.n</key>
      <real>-47.25</real>
      <key>public.kern2.o</key>
      <real>-65.5</real>
      <key>public.kern2.p</key>
      <real>-57.25</real>
      <key>public.kern2.period</key>
      <real>-114.5</real>
      <key>public.kern2.r</key>
      <real>-37.25</real>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <real>-22.75</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-15.5</real>
      <key>public.kern2.O</key>
      <real>-58.25</real>
      <key>public.kern2.S</key>
      <real>-35.5</real>
      <key>public.kern2.T</key>
      <real>-12.75</real>
      <key>public.kern2.U</key>
      <real>-12.75</real>
      <key>public.kern2.V</key>
      <real>-15.5</real>
      <key>public.kern2.W</key>
      <real>-15.5</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <real>-15.5</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>-71.75</real>
      <key>public.kern2.o</key>
      <real>-52.75</real>
      <key>public.kern2.y</key>
      <real>-58.25</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-101</integer>
      <key>public.kern2.AE</key>
      <real>-138.25</real>
      <key>public.kern2.J</key>
      <real>-68.25</real>
      <key>public.kern2.O</key>
      <real>-65.5</real>
      <key>public.kern2.S</key>
      <real>-28.25</real>
      <key>public.kern2.V</key>
      <real>-12.75</real>
      <key>public.kern2.W</key>
      <real>-12.75</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <real>-15.5</real>
      <key>public.kern2.a</key>
      <integer>-91</integer>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <real>-98.25</real>
      <key>public.kern2.hyphen</key>
      <real>-114.5</real>
      <key>public.kern2.n</key>
      <real>-62.75</real>
      <key>public.kern2.o</key>
      <real>-105.5</real>
      <key>public.kern2.p</key>
      <real>-57.25</real>
      <key>public.kern2.period</key>
      <real>-142.75</real>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <real>-76.5</real>
      <key>public.kern2.t</key>
      <real>-26.5</real>
      <key>public.kern2.u</key>
      <real>-68.25</real>
      <key>public.kern2.v</key>
      <integer>-51</integer>
      <key>public.kern2.w</key>
      <real>-45.5</real>
      <key>public.kern2.x</key>
      <real>-58.25</real>
      <key>public.kern2.y</key>
      <integer>-41</integer>
      <key>public.kern2.z</key>
      <real>-53.75</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-22.75</real>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.d</key>
      <real>-37.25</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <real>-54.5</real>
      <key>public.kern2.o</key>
      <real>-37.25</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-37.25</real>
      <key>public.kern2.w</key>
      <real>-37.25</real>
      <key>public.kern2.y</key>
      <real>-34.5</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.t</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-12.75</real>
      <key>public.kern2.w</key>
      <real>-12.75</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.t</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-22.75</real>
      <key>public.kern2.w</key>
      <real>-22.75</real>
      <key>public.kern2.x</key>
      <real>-22.75</real>
      <key>public.kern2.y</key>
      <real>-22.75</real>
      <key>public.kern2.z</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <real>-7.25</real>
      <key>public.kern2.t</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-12.75</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-22.75</real>
      <key>public.kern2.y</key>
      <real>-12.75</real>
      <key>public.kern2.z</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-105.5</real>
      <key>public.kern2.V</key>
      <real>-62.75</real>
      <key>public.kern2.W</key>
      <real>-65.5</real>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-11.65</real>
      <key>public.kern2.v</key>
      <real>-15.5</real>
      <key>public.kern2.w</key>
      <real>-12.75</real>
      <key>public.kern2.x</key>
      <real>-25.5</real>
      <key>public.kern2.y</key>
      <real>-15.5</real>
      <key>public.kern2.z</key>
      <real>-15.5</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>7.25</real>
      <key>public.kern2.A</key>
      <real>-44.5</real>
      <key>public.kern2.d</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <real>71.75</real>
      <key>public.kern2.period</key>
      <real>-44.5</real>
      <key>public.kern2.quoteright</key>
      <real>64.5</real>
      <key>public.kern2.s</key>
      <real>-12.75</real>
      <key>public.kern2.x</key>
      <real>-7.25</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-12.75</real>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-18.25</real>
      <key>public.kern2.s</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <real>-77.25</real>
      <key>public.kern2.W</key>
      <real>-64.5</real>
      <key>public.kern2.X</key>
      <real>-71.75</real>
      <key>public.kern2.Y</key>
      <real>-114.5</real>
      <key>public.kern2.Z</key>
      <real>-54.5</real>
      <key>public.kern2.x</key>
      <real>-57.25</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-12.75</real>
      <key>public.kern2.d</key>
      <real>-25.5</real>
      <key>public.kern2.f</key>
      <real>-15.5</real>
      <key>public.kern2.hyphen</key>
      <real>-57.25</real>
      <key>public.kern2.o</key>
      <real>-28.25</real>
      <key>public.kern2.s</key>
      <real>-32.75</real>
      <key>public.kern2.t</key>
      <real>-18.25</real>
      <key>public.kern2.u</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-15.5</real>
      <key>public.kern2.w</key>
      <real>-15.5</real>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-15.5</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.t</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-12.75</real>
      <key>public.kern2.w</key>
      <real>-12.75</real>
      <key>public.kern2.y</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-105.5</real>
      <key>public.kern2.V</key>
      <real>-68.25</real>
      <key>public.kern2.W</key>
      <real>-65.5</real>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.period</key>
      <real>-27.25</real>
      <key>public.kern2.quotesingle</key>
      <real>-34.5</real>
      <key>public.kern2.t</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-25.5</real>
      <key>public.kern2.w</key>
      <real>-18.25</real>
      <key>public.kern2.x</key>
      <real>-35.5</real>
      <key>public.kern2.y</key>
      <real>-22.75</real>
      <key>public.kern2.z</key>
      <real>-15.5</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-61.75</real>
      <key>public.kern2.T</key>
      <real>-137.25</real>
      <key>public.kern2.V</key>
      <real>-127.25</real>
      <key>public.kern2.W</key>
      <real>-114.5</real>
      <key>public.kern2.Y</key>
      <real>-142.75</real>
      <key>public.kern2.f</key>
      <real>-44.5</real>
      <key>public.kern2.o</key>
      <real>-27.25</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <real>-67.25</real>
      <key>public.kern2.y</key>
      <real>-54.5</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-82.75</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-93.75</real>
      <key>public.kern2.o</key>
      <real>-67.25</real>
      <key>public.kern2.r</key>
      <real>-21.75</real>
      <key>public.kern2.s</key>
      <real>-61.75</real>
      <key>public.kern2.v</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-41.75</real>
      <key>public.kern2.r</key>
      <real>-7.25</real>
      <key>public.kern2.s</key>
      <real>-44.5</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-5.5</real>
      <key>public.kern2.d</key>
      <real>-12.75</real>
      <key>public.kern2.hyphen</key>
      <real>-54.5</real>
      <key>public.kern2.o</key>
      <real>-12.75</real>
      <key>public.kern2.period</key>
      <real>-82.75</real>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-12.75</real>
      <key>public.kern2.t</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-15.5</real>
      <key>public.kern2.w</key>
      <real>-12.75</real>
      <key>public.kern2.x</key>
      <real>-15.5</real>
      <key>public.kern2.y</key>
      <real>-12.75</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <real>-12.75</real>
      <key>public.kern2.quoteright</key>
      <real>27.25</real>
      <key>public.kern2.quotesingle</key>
      <real>7.25</real>
      <key>public.kern2.x</key>
      <real>-7.25</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-68.25</real>
      <key>public.kern2.a</key>
      <real>-12.75</real>
      <key>public.kern2.d</key>
      <real>-22.75</real>
      <key>public.kern2.g</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <real>-25.5</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-15.5</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-12.75</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-51</integer>
      <key>public.kern2.a</key>
      <real>-12.75</real>
      <key>public.kern2.d</key>
      <real>-22.75</real>
      <key>public.kern2.g</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <real>-18.25</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-15.5</real>
      <key>public.kern2.d</key>
      <real>-22.75</real>
      <key>public.kern2.f</key>
      <real>-15.5</real>
      <key>public.kern2.hyphen</key>
      <real>-57.25</real>
      <key>public.kern2.o</key>
      <real>-38.25</real>
      <key>public.kern2.s</key>
      <real>-15.5</real>
      <key>public.kern2.t</key>
      <integer>-21</integer>
      <key>public.kern2.u</key>
      <real>-12.75</real>
      <key>public.kern2.v</key>
      <real>-18.25</real>
      <key>public.kern2.w</key>
      <real>-18.25</real>
      <key>public.kern2.x</key>
      <real>-12.75</real>
      <key>public.kern2.y</key>
      <real>-18.25</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-68.25</real>
      <key>public.kern2.a</key>
      <real>-12.75</real>
      <key>public.kern2.d</key>
      <real>-22.75</real>
      <key>public.kern2.g</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <real>-22.75</real>
      <key>public.kern2.period</key>
      <real>-65.5</real>
      <key>public.kern2.s</key>
      <real>-15.5</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-12.75</real>
      <key>public.kern2.o</key>
      <real>-15.5</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>53.75</real>
    </dict>
  </dict>
</plist>
