<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>81.5</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>84.375</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>75.75</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-62.75</real>
      <key>public.kern2.O</key>
      <real>-47.125</real>
      <key>public.kern2.S</key>
      <real>-24.25</real>
      <key>public.kern2.T</key>
      <real>-114.25</real>
      <key>public.kern2.U</key>
      <real>-47.125</real>
      <key>public.kern2.V</key>
      <real>-105.625</real>
      <key>public.kern2.W</key>
      <real>-111.375</real>
      <key>public.kern2.X</key>
      <real>-24.25</real>
      <key>public.kern2.Y</key>
      <real>-118.5</real>
      <key>public.kern2.d</key>
      <real>-25.75</real>
      <key>public.kern2.f</key>
      <real>-32.875</real>
      <key>public.kern2.o</key>
      <real>-35.75</real>
      <key>public.kern2.quoteright</key>
      <real>-74.25</real>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <real>-25.75</real>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <real>-81.375</real>
      <key>public.kern2.w</key>
      <real>-68.5</real>
      <key>public.kern2.x</key>
      <real>-27.125</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-24.25</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-22.875</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-27.125</real>
      <key>public.kern2.Y</key>
      <real>-37.125</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-27.125</real>
      <key>public.kern2.T</key>
      <real>-24.25</real>
      <key>public.kern2.V</key>
      <real>-17.125</real>
      <key>public.kern2.W</key>
      <real>-17.125</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-38.5</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-32.875</real>
      <key>public.kern2.d</key>
      <real>-12.875</real>
      <key>public.kern2.o</key>
      <real>-22.875</real>
      <key>public.kern2.s</key>
      <real>-12.875</real>
      <key>public.kern2.v</key>
      <real>-67.125</real>
      <key>public.kern2.w</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <real>-15.75</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-88.5</real>
      <key>public.kern2.AE</key>
      <real>-157.125</real>
      <key>public.kern2.J</key>
      <real>-71.375</real>
      <key>public.kern2.O</key>
      <real>-48.5</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-24.25</real>
      <key>public.kern2.a</key>
      <real>-94.25</real>
      <key>public.kern2.d</key>
      <real>-77.125</real>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <real>-85.625</real>
      <key>public.kern2.n</key>
      <real>-74.25</real>
      <key>public.kern2.o</key>
      <real>-91.375</real>
      <key>public.kern2.p</key>
      <real>-81.375</real>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.r</key>
      <real>-64.25</real>
      <key>public.kern2.s</key>
      <real>-75.625</real>
      <key>public.kern2.t</key>
      <real>-47.125</real>
      <key>public.kern2.u</key>
      <real>-44.25</real>
      <key>public.kern2.v</key>
      <real>-68.5</real>
      <key>public.kern2.w</key>
      <real>-55.625</real>
      <key>public.kern2.x</key>
      <real>-85.625</real>
      <key>public.kern2.y</key>
      <real>-79.875</real>
      <key>public.kern2.z</key>
      <real>-85.625</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-45.75</real>
      <key>public.kern2.V</key>
      <real>-27.125</real>
      <key>public.kern2.W</key>
      <real>-27.125</real>
      <key>public.kern2.Y</key>
      <real>-47.125</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-24.25</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-52.75</real>
      <key>public.kern2.O</key>
      <real>-57.125</real>
      <key>public.kern2.S</key>
      <real>-31.375</real>
      <key>public.kern2.T</key>
      <real>-58.5</real>
      <key>public.kern2.U</key>
      <real>-27.125</real>
      <key>public.kern2.V</key>
      <real>-48.5</real>
      <key>public.kern2.W</key>
      <real>-31.375</real>
      <key>public.kern2.Y</key>
      <real>-41.375</real>
      <key>public.kern2.a</key>
      <real>-22.875</real>
      <key>public.kern2.d</key>
      <real>-42.875</real>
      <key>public.kern2.f</key>
      <real>-25.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-87.125</real>
      <key>public.kern2.w</key>
      <real>-57.125</real>
      <key>public.kern2.x</key>
      <real>-22.875</real>
      <key>public.kern2.y</key>
      <real>-57.125</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-24.25</real>
      <key>public.kern2.O</key>
      <real>-62.875</real>
      <key>public.kern2.T</key>
      <real>-92.875</real>
      <key>public.kern2.U</key>
      <real>-35.75</real>
      <key>public.kern2.V</key>
      <real>-92.875</real>
      <key>public.kern2.W</key>
      <real>-87.125</real>
      <key>public.kern2.Y</key>
      <real>-127.125</real>
      <key>public.kern2.d</key>
      <real>-15.75</real>
      <key>public.kern2.hyphen</key>
      <real>-48.625</real>
      <key>public.kern2.o</key>
      <real>-22.875</real>
      <key>public.kern2.quoteright</key>
      <real>-157.125</real>
      <key>public.kern2.quotesingle</key>
      <integer>-170</integer>
      <key>public.kern2.s</key>
      <real>-12.875</real>
      <key>public.kern2.v</key>
      <real>-55.75</real>
      <key>public.kern2.w</key>
      <real>-35.75</real>
      <key>public.kern2.y</key>
      <real>-38.625</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-47.125</real>
      <key>public.kern2.AE</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <real>-17.125</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-45.75</real>
      <key>public.kern2.V</key>
      <real>-47.125</real>
      <key>public.kern2.W</key>
      <real>-47.125</real>
      <key>public.kern2.X</key>
      <real>-71.375</real>
      <key>public.kern2.Y</key>
      <real>-74.25</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-48.625</real>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-108.5</real>
      <key>public.kern2.AE</key>
      <real>-122.875</real>
      <key>public.kern2.J</key>
      <real>-87.125</real>
      <key>public.kern2.T</key>
      <real>-32.875</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-27.125</real>
      <key>public.kern2.X</key>
      <real>-37.125</real>
      <key>public.kern2.Y</key>
      <real>-41.375</real>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <real>-38.625</real>
      <key>public.kern2.g</key>
      <real>-25.75</real>
      <key>public.kern2.o</key>
      <real>-38.625</real>
      <key>public.kern2.period</key>
      <real>-145.625</real>
      <key>public.kern2.s</key>
      <real>-37.125</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-27.125</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <real>-17.125</real>
      <key>public.kern2.W</key>
      <real>-17.125</real>
      <key>public.kern2.Y</key>
      <real>-31.375</real>
      <key>public.kern2.d</key>
      <real>-32.875</real>
      <key>public.kern2.g</key>
      <real>-25.75</real>
      <key>public.kern2.o</key>
      <real>-32.875</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-31.375</real>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>-12.875</real>
      <key>public.kern2.S</key>
      <real>-17.125</real>
      <key>public.kern2.T</key>
      <real>-24.25</real>
      <key>public.kern2.V</key>
      <real>-34.25</real>
      <key>public.kern2.W</key>
      <real>-27.125</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-41.375</real>
      <key>public.kern2.t</key>
      <real>-22.875</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <real>-27.125</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-104.25</real>
      <key>public.kern2.AE</key>
      <real>-142.875</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-45.75</real>
      <key>public.kern2.S</key>
      <real>-24.25</real>
      <key>public.kern2.X</key>
      <real>-17.125</real>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-105.625</real>
      <key>public.kern2.colon</key>
      <real>-82.875</real>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-35.75</real>
      <key>public.kern2.g</key>
      <real>-95.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-120</integer>
      <key>public.kern2.n</key>
      <real>-91.375</real>
      <key>public.kern2.o</key>
      <real>-114.25</real>
      <key>public.kern2.p</key>
      <real>-91.375</real>
      <key>public.kern2.period</key>
      <real>-132.875</real>
      <key>public.kern2.r</key>
      <real>-87.125</real>
      <key>public.kern2.s</key>
      <real>-111.375</real>
      <key>public.kern2.t</key>
      <real>-35.75</real>
      <key>public.kern2.u</key>
      <real>-94.25</real>
      <key>public.kern2.v</key>
      <real>-91.375</real>
      <key>public.kern2.w</key>
      <real>-84.25</real>
      <key>public.kern2.x</key>
      <real>-81.375</real>
      <key>public.kern2.y</key>
      <real>-91.375</real>
      <key>public.kern2.z</key>
      <real>-84.25</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-47.125</real>
      <key>public.kern2.AE</key>
      <real>-72.875</real>
      <key>public.kern2.J</key>
      <real>-17.125</real>
      <key>public.kern2.X</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-105.625</real>
      <key>public.kern2.AE</key>
      <real>-152.75</real>
      <key>public.kern2.J</key>
      <real>-68.5</real>
      <key>public.kern2.O</key>
      <real>-47.125</real>
      <key>public.kern2.S</key>
      <real>-34.25</real>
      <key>public.kern2.V</key>
      <real>-17.125</real>
      <key>public.kern2.W</key>
      <real>-17.125</real>
      <key>public.kern2.X</key>
      <real>-17.125</real>
      <key>public.kern2.Y</key>
      <real>-17.125</real>
      <key>public.kern2.a</key>
      <real>-71.375</real>
      <key>public.kern2.colon</key>
      <real>-42.875</real>
      <key>public.kern2.d</key>
      <real>-67.125</real>
      <key>public.kern2.g</key>
      <real>-74.25</real>
      <key>public.kern2.hyphen</key>
      <real>-72.875</real>
      <key>public.kern2.n</key>
      <real>-52.875</real>
      <key>public.kern2.o</key>
      <real>-81.375</real>
      <key>public.kern2.p</key>
      <real>-52.875</real>
      <key>public.kern2.period</key>
      <real>-122.875</real>
      <key>public.kern2.r</key>
      <real>-57.125</real>
      <key>public.kern2.s</key>
      <real>-67.125</real>
      <key>public.kern2.u</key>
      <real>-52.875</real>
      <key>public.kern2.v</key>
      <real>-34.25</real>
      <key>public.kern2.w</key>
      <real>-34.25</real>
      <key>public.kern2.x</key>
      <real>-34.25</real>
      <key>public.kern2.y</key>
      <real>-34.25</real>
      <key>public.kern2.z</key>
      <real>-37.125</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-111.375</real>
      <key>public.kern2.AE</key>
      <real>-148.5</real>
      <key>public.kern2.J</key>
      <real>-68.5</real>
      <key>public.kern2.O</key>
      <real>-47.125</real>
      <key>public.kern2.S</key>
      <real>-27.125</real>
      <key>public.kern2.V</key>
      <real>-17.125</real>
      <key>public.kern2.W</key>
      <real>-24.25</real>
      <key>public.kern2.X</key>
      <real>-17.125</real>
      <key>public.kern2.Y</key>
      <real>-17.125</real>
      <key>public.kern2.a</key>
      <real>-64.25</real>
      <key>public.kern2.d</key>
      <real>-67.125</real>
      <key>public.kern2.hyphen</key>
      <real>-55.75</real>
      <key>public.kern2.n</key>
      <real>-42.875</real>
      <key>public.kern2.o</key>
      <real>-74.25</real>
      <key>public.kern2.p</key>
      <real>-52.875</real>
      <key>public.kern2.period</key>
      <real>-105.75</real>
      <key>public.kern2.r</key>
      <real>-32.875</real>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <real>-27.125</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-24.25</real>
      <key>public.kern2.O</key>
      <real>-71.375</real>
      <key>public.kern2.S</key>
      <real>-44.25</real>
      <key>public.kern2.T</key>
      <real>-17.125</real>
      <key>public.kern2.U</key>
      <real>-17.125</real>
      <key>public.kern2.V</key>
      <real>-24.25</real>
      <key>public.kern2.W</key>
      <real>-24.25</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <real>-24.25</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>-58.625</real>
      <key>public.kern2.o</key>
      <real>-57.125</real>
      <key>public.kern2.y</key>
      <real>-71.375</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-118.5</real>
      <key>public.kern2.AE</key>
      <real>-151.375</real>
      <key>public.kern2.J</key>
      <real>-81.375</real>
      <key>public.kern2.O</key>
      <real>-74.25</real>
      <key>public.kern2.S</key>
      <real>-41.375</real>
      <key>public.kern2.V</key>
      <real>-17.125</real>
      <key>public.kern2.W</key>
      <real>-17.125</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <real>-24.25</real>
      <key>public.kern2.a</key>
      <real>-108.5</real>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <real>-111.375</real>
      <key>public.kern2.hyphen</key>
      <real>-105.75</real>
      <key>public.kern2.n</key>
      <real>-67.125</real>
      <key>public.kern2.o</key>
      <real>-114.25</real>
      <key>public.kern2.p</key>
      <real>-52.875</real>
      <key>public.kern2.period</key>
      <real>-147.125</real>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <real>-102.75</real>
      <key>public.kern2.t</key>
      <real>-52.75</real>
      <key>public.kern2.u</key>
      <real>-81.375</real>
      <key>public.kern2.v</key>
      <real>-68.5</real>
      <key>public.kern2.w</key>
      <real>-54.25</real>
      <key>public.kern2.x</key>
      <real>-71.375</real>
      <key>public.kern2.y</key>
      <real>-58.5</real>
      <key>public.kern2.z</key>
      <real>-75.625</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-27.125</real>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.d</key>
      <real>-32.875</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <real>-45.75</real>
      <key>public.kern2.o</key>
      <real>-32.875</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-32.875</real>
      <key>public.kern2.w</key>
      <real>-32.875</real>
      <key>public.kern2.y</key>
      <real>-25.75</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.t</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-17.125</real>
      <key>public.kern2.w</key>
      <real>-17.125</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.t</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-27.125</real>
      <key>public.kern2.w</key>
      <real>-27.125</real>
      <key>public.kern2.x</key>
      <real>-27.125</real>
      <key>public.kern2.y</key>
      <real>-27.125</real>
      <key>public.kern2.z</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <real>-2.875</real>
      <key>public.kern2.t</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-17.125</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-27.125</real>
      <key>public.kern2.y</key>
      <real>-17.125</real>
      <key>public.kern2.z</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-114.25</real>
      <key>public.kern2.V</key>
      <real>-67.125</real>
      <key>public.kern2.W</key>
      <real>-74.25</real>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-14.275</real>
      <key>public.kern2.v</key>
      <real>-24.25</real>
      <key>public.kern2.w</key>
      <real>-17.125</real>
      <key>public.kern2.x</key>
      <real>-34.25</real>
      <key>public.kern2.y</key>
      <real>-24.25</real>
      <key>public.kern2.z</key>
      <real>-24.25</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>2.875</real>
      <key>public.kern2.A</key>
      <real>-35.75</real>
      <key>public.kern2.d</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <real>58.625</real>
      <key>public.kern2.period</key>
      <real>-35.75</real>
      <key>public.kern2.quoteright</key>
      <real>55.75</real>
      <key>public.kern2.s</key>
      <real>-17.125</real>
      <key>public.kern2.x</key>
      <real>-2.875</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-17.125</real>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-31.375</real>
      <key>public.kern2.s</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <real>-72.875</real>
      <key>public.kern2.W</key>
      <real>-55.75</real>
      <key>public.kern2.X</key>
      <real>-58.625</real>
      <key>public.kern2.Y</key>
      <real>-105.75</real>
      <key>public.kern2.Z</key>
      <real>-45.75</real>
      <key>public.kern2.x</key>
      <real>-52.875</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-17.125</real>
      <key>public.kern2.d</key>
      <real>-34.25</real>
      <key>public.kern2.f</key>
      <real>-24.25</real>
      <key>public.kern2.hyphen</key>
      <real>-52.875</real>
      <key>public.kern2.o</key>
      <real>-41.375</real>
      <key>public.kern2.s</key>
      <real>-37.125</real>
      <key>public.kern2.t</key>
      <real>-31.375</real>
      <key>public.kern2.u</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-24.25</real>
      <key>public.kern2.w</key>
      <real>-24.25</real>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-24.25</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.t</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-17.125</real>
      <key>public.kern2.w</key>
      <real>-17.125</real>
      <key>public.kern2.y</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-114.25</real>
      <key>public.kern2.V</key>
      <real>-81.375</real>
      <key>public.kern2.W</key>
      <real>-74.25</real>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.period</key>
      <real>-22.875</real>
      <key>public.kern2.quotesingle</key>
      <real>-25.75</real>
      <key>public.kern2.t</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-34.25</real>
      <key>public.kern2.w</key>
      <real>-31.375</real>
      <key>public.kern2.x</key>
      <real>-44.25</real>
      <key>public.kern2.y</key>
      <real>-27.125</real>
      <key>public.kern2.z</key>
      <real>-24.25</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-48.625</real>
      <key>public.kern2.T</key>
      <real>-132.875</real>
      <key>public.kern2.V</key>
      <real>-122.875</real>
      <key>public.kern2.W</key>
      <real>-105.75</real>
      <key>public.kern2.Y</key>
      <real>-147.125</real>
      <key>public.kern2.f</key>
      <real>-35.75</real>
      <key>public.kern2.o</key>
      <real>-22.875</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <real>-62.875</real>
      <key>public.kern2.y</key>
      <real>-45.75</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-87.125</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-115.625</real>
      <key>public.kern2.o</key>
      <real>-62.875</real>
      <key>public.kern2.r</key>
      <real>-8.625</real>
      <key>public.kern2.s</key>
      <real>-48.625</real>
      <key>public.kern2.v</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-28.625</real>
      <key>public.kern2.r</key>
      <real>-2.875</real>
      <key>public.kern2.s</key>
      <real>-35.75</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-14.25</real>
      <key>public.kern2.d</key>
      <real>-17.125</real>
      <key>public.kern2.hyphen</key>
      <real>-45.75</real>
      <key>public.kern2.o</key>
      <real>-17.125</real>
      <key>public.kern2.period</key>
      <real>-87.125</real>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-17.125</real>
      <key>public.kern2.t</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-24.25</real>
      <key>public.kern2.w</key>
      <real>-17.125</real>
      <key>public.kern2.x</key>
      <real>-24.25</real>
      <key>public.kern2.y</key>
      <real>-17.125</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <real>-17.125</real>
      <key>public.kern2.quoteright</key>
      <real>22.875</real>
      <key>public.kern2.quotesingle</key>
      <real>2.875</real>
      <key>public.kern2.x</key>
      <real>-2.875</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-81.375</real>
      <key>public.kern2.a</key>
      <real>-17.125</real>
      <key>public.kern2.d</key>
      <real>-27.125</real>
      <key>public.kern2.g</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <real>-34.25</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-24.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-17.125</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-68.5</real>
      <key>public.kern2.a</key>
      <real>-17.125</real>
      <key>public.kern2.d</key>
      <real>-27.125</real>
      <key>public.kern2.g</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <real>-31.375</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-24.25</real>
      <key>public.kern2.d</key>
      <real>-27.125</real>
      <key>public.kern2.f</key>
      <real>-24.25</real>
      <key>public.kern2.hyphen</key>
      <real>-52.875</real>
      <key>public.kern2.o</key>
      <real>-51.375</real>
      <key>public.kern2.s</key>
      <real>-24.25</real>
      <key>public.kern2.t</key>
      <real>-38.5</real>
      <key>public.kern2.u</key>
      <real>-17.125</real>
      <key>public.kern2.v</key>
      <real>-31.375</real>
      <key>public.kern2.w</key>
      <real>-31.375</real>
      <key>public.kern2.x</key>
      <real>-17.125</real>
      <key>public.kern2.y</key>
      <real>-31.375</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-81.375</real>
      <key>public.kern2.a</key>
      <real>-17.125</real>
      <key>public.kern2.d</key>
      <real>-27.125</real>
      <key>public.kern2.g</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <real>-27.125</real>
      <key>public.kern2.period</key>
      <real>-74.25</real>
      <key>public.kern2.s</key>
      <real>-24.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-17.125</real>
      <key>public.kern2.o</key>
      <real>-24.25</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>75.625</real>
    </dict>
  </dict>
</plist>
