<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>87.5</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>91.875</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>78.75</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-53.75</real>
      <key>public.kern2.O</key>
      <real>-45.625</real>
      <key>public.kern2.S</key>
      <real>-21.25</real>
      <key>public.kern2.T</key>
      <real>-111.25</real>
      <key>public.kern2.U</key>
      <real>-45.625</real>
      <key>public.kern2.V</key>
      <real>-98.125</real>
      <key>public.kern2.W</key>
      <real>-106.875</real>
      <key>public.kern2.X</key>
      <real>-21.25</real>
      <key>public.kern2.Y</key>
      <real>-112.5</real>
      <key>public.kern2.d</key>
      <real>-28.75</real>
      <key>public.kern2.f</key>
      <real>-34.375</real>
      <key>public.kern2.o</key>
      <real>-38.75</real>
      <key>public.kern2.quoteright</key>
      <real>-71.25</real>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <real>-28.75</real>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <real>-76.875</real>
      <key>public.kern2.w</key>
      <real>-62.5</real>
      <key>public.kern2.x</key>
      <real>-25.625</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-21.25</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-24.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-25.625</real>
      <key>public.kern2.Y</key>
      <real>-35.625</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-25.625</real>
      <key>public.kern2.T</key>
      <real>-21.25</real>
      <key>public.kern2.V</key>
      <real>-15.625</real>
      <key>public.kern2.W</key>
      <real>-15.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-32.5</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-34.375</real>
      <key>public.kern2.d</key>
      <real>-14.375</real>
      <key>public.kern2.o</key>
      <real>-24.375</real>
      <key>public.kern2.s</key>
      <real>-14.375</real>
      <key>public.kern2.v</key>
      <real>-65.625</real>
      <key>public.kern2.w</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <real>-18.75</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-82.5</real>
      <key>public.kern2.AE</key>
      <real>-155.625</real>
      <key>public.kern2.J</key>
      <real>-66.875</real>
      <key>public.kern2.O</key>
      <real>-42.5</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-21.25</real>
      <key>public.kern2.a</key>
      <real>-91.25</real>
      <key>public.kern2.d</key>
      <real>-75.625</real>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <real>-78.125</real>
      <key>public.kern2.n</key>
      <real>-71.25</real>
      <key>public.kern2.o</key>
      <real>-86.875</real>
      <key>public.kern2.p</key>
      <real>-76.875</real>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.r</key>
      <real>-61.25</real>
      <key>public.kern2.s</key>
      <real>-68.125</real>
      <key>public.kern2.t</key>
      <real>-45.625</real>
      <key>public.kern2.u</key>
      <real>-41.25</real>
      <key>public.kern2.v</key>
      <real>-62.5</real>
      <key>public.kern2.w</key>
      <real>-48.125</real>
      <key>public.kern2.x</key>
      <real>-78.125</real>
      <key>public.kern2.y</key>
      <real>-69.375</real>
      <key>public.kern2.z</key>
      <real>-78.125</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-48.75</real>
      <key>public.kern2.V</key>
      <real>-25.625</real>
      <key>public.kern2.W</key>
      <real>-25.625</real>
      <key>public.kern2.Y</key>
      <real>-45.625</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-21.25</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-43.75</real>
      <key>public.kern2.O</key>
      <real>-55.625</real>
      <key>public.kern2.S</key>
      <real>-26.875</real>
      <key>public.kern2.T</key>
      <real>-52.5</real>
      <key>public.kern2.U</key>
      <real>-25.625</real>
      <key>public.kern2.V</key>
      <real>-42.5</real>
      <key>public.kern2.W</key>
      <real>-26.875</real>
      <key>public.kern2.Y</key>
      <real>-36.875</real>
      <key>public.kern2.a</key>
      <real>-24.375</real>
      <key>public.kern2.d</key>
      <real>-44.375</real>
      <key>public.kern2.f</key>
      <real>-28.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-85.625</real>
      <key>public.kern2.w</key>
      <real>-55.625</real>
      <key>public.kern2.x</key>
      <real>-24.375</real>
      <key>public.kern2.y</key>
      <real>-55.625</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-21.25</real>
      <key>public.kern2.O</key>
      <real>-64.375</real>
      <key>public.kern2.T</key>
      <real>-94.375</real>
      <key>public.kern2.U</key>
      <real>-38.75</real>
      <key>public.kern2.V</key>
      <real>-94.375</real>
      <key>public.kern2.W</key>
      <real>-85.625</real>
      <key>public.kern2.Y</key>
      <real>-125.625</real>
      <key>public.kern2.d</key>
      <real>-18.75</real>
      <key>public.kern2.hyphen</key>
      <real>-53.125</real>
      <key>public.kern2.o</key>
      <real>-24.375</real>
      <key>public.kern2.quoteright</key>
      <real>-155.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-170</integer>
      <key>public.kern2.s</key>
      <real>-14.375</real>
      <key>public.kern2.v</key>
      <real>-58.75</real>
      <key>public.kern2.w</key>
      <real>-38.75</real>
      <key>public.kern2.y</key>
      <real>-43.125</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-45.625</real>
      <key>public.kern2.AE</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <real>-15.625</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-48.75</real>
      <key>public.kern2.V</key>
      <real>-45.625</real>
      <key>public.kern2.W</key>
      <real>-45.625</real>
      <key>public.kern2.X</key>
      <real>-66.875</real>
      <key>public.kern2.Y</key>
      <real>-71.25</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-53.125</real>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-102.5</real>
      <key>public.kern2.AE</key>
      <real>-124.375</real>
      <key>public.kern2.J</key>
      <real>-85.625</real>
      <key>public.kern2.T</key>
      <real>-34.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-25.625</real>
      <key>public.kern2.X</key>
      <real>-35.625</real>
      <key>public.kern2.Y</key>
      <real>-36.875</real>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <real>-43.125</real>
      <key>public.kern2.g</key>
      <real>-28.75</real>
      <key>public.kern2.o</key>
      <real>-43.125</real>
      <key>public.kern2.period</key>
      <real>-138.125</real>
      <key>public.kern2.s</key>
      <real>-35.625</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-25.625</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <real>-15.625</real>
      <key>public.kern2.W</key>
      <real>-15.625</real>
      <key>public.kern2.Y</key>
      <real>-26.875</real>
      <key>public.kern2.d</key>
      <real>-34.375</real>
      <key>public.kern2.g</key>
      <real>-28.75</real>
      <key>public.kern2.o</key>
      <real>-34.375</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-26.875</real>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>-14.375</real>
      <key>public.kern2.S</key>
      <real>-15.625</real>
      <key>public.kern2.T</key>
      <real>-21.25</real>
      <key>public.kern2.V</key>
      <real>-31.25</real>
      <key>public.kern2.W</key>
      <real>-25.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-36.875</real>
      <key>public.kern2.t</key>
      <real>-24.375</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <real>-25.625</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-101.25</real>
      <key>public.kern2.AE</key>
      <real>-144.375</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-48.75</real>
      <key>public.kern2.S</key>
      <real>-21.25</real>
      <key>public.kern2.X</key>
      <real>-15.625</real>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-98.125</real>
      <key>public.kern2.colon</key>
      <real>-84.375</real>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-38.75</real>
      <key>public.kern2.g</key>
      <real>-98.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-120</integer>
      <key>public.kern2.n</key>
      <real>-86.875</real>
      <key>public.kern2.o</key>
      <real>-111.25</real>
      <key>public.kern2.p</key>
      <real>-86.875</real>
      <key>public.kern2.period</key>
      <real>-134.375</real>
      <key>public.kern2.r</key>
      <real>-85.625</real>
      <key>public.kern2.s</key>
      <real>-106.875</real>
      <key>public.kern2.t</key>
      <real>-38.75</real>
      <key>public.kern2.u</key>
      <real>-91.25</real>
      <key>public.kern2.v</key>
      <real>-86.875</real>
      <key>public.kern2.w</key>
      <real>-81.25</real>
      <key>public.kern2.x</key>
      <real>-76.875</real>
      <key>public.kern2.y</key>
      <real>-86.875</real>
      <key>public.kern2.z</key>
      <real>-81.25</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-45.625</real>
      <key>public.kern2.AE</key>
      <real>-74.375</real>
      <key>public.kern2.J</key>
      <real>-15.625</real>
      <key>public.kern2.X</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-98.125</real>
      <key>public.kern2.AE</key>
      <real>-143.75</real>
      <key>public.kern2.J</key>
      <real>-62.5</real>
      <key>public.kern2.O</key>
      <real>-45.625</real>
      <key>public.kern2.S</key>
      <real>-31.25</real>
      <key>public.kern2.V</key>
      <real>-15.625</real>
      <key>public.kern2.W</key>
      <real>-15.625</real>
      <key>public.kern2.X</key>
      <real>-15.625</real>
      <key>public.kern2.Y</key>
      <real>-15.625</real>
      <key>public.kern2.a</key>
      <real>-66.875</real>
      <key>public.kern2.colon</key>
      <real>-44.375</real>
      <key>public.kern2.d</key>
      <real>-65.625</real>
      <key>public.kern2.g</key>
      <real>-71.25</real>
      <key>public.kern2.hyphen</key>
      <real>-74.375</real>
      <key>public.kern2.n</key>
      <real>-54.375</real>
      <key>public.kern2.o</key>
      <real>-76.875</real>
      <key>public.kern2.p</key>
      <real>-54.375</real>
      <key>public.kern2.period</key>
      <real>-124.375</real>
      <key>public.kern2.r</key>
      <real>-55.625</real>
      <key>public.kern2.s</key>
      <real>-65.625</real>
      <key>public.kern2.u</key>
      <real>-54.375</real>
      <key>public.kern2.v</key>
      <real>-31.25</real>
      <key>public.kern2.w</key>
      <real>-31.25</real>
      <key>public.kern2.x</key>
      <real>-31.25</real>
      <key>public.kern2.y</key>
      <real>-31.25</real>
      <key>public.kern2.z</key>
      <real>-35.625</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-106.875</real>
      <key>public.kern2.AE</key>
      <real>-142.5</real>
      <key>public.kern2.J</key>
      <real>-62.5</real>
      <key>public.kern2.O</key>
      <real>-45.625</real>
      <key>public.kern2.S</key>
      <real>-25.625</real>
      <key>public.kern2.V</key>
      <real>-15.625</real>
      <key>public.kern2.W</key>
      <real>-21.25</real>
      <key>public.kern2.X</key>
      <real>-15.625</real>
      <key>public.kern2.Y</key>
      <real>-15.625</real>
      <key>public.kern2.a</key>
      <real>-61.25</real>
      <key>public.kern2.d</key>
      <real>-65.625</real>
      <key>public.kern2.hyphen</key>
      <real>-58.75</real>
      <key>public.kern2.n</key>
      <real>-44.375</real>
      <key>public.kern2.o</key>
      <real>-71.25</real>
      <key>public.kern2.p</key>
      <real>-54.375</real>
      <key>public.kern2.period</key>
      <real>-108.75</real>
      <key>public.kern2.r</key>
      <real>-34.375</real>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <real>-25.625</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-21.25</real>
      <key>public.kern2.O</key>
      <real>-66.875</real>
      <key>public.kern2.S</key>
      <real>-41.25</real>
      <key>public.kern2.T</key>
      <real>-15.625</real>
      <key>public.kern2.U</key>
      <real>-15.625</real>
      <key>public.kern2.V</key>
      <real>-21.25</real>
      <key>public.kern2.W</key>
      <real>-21.25</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <real>-21.25</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>-63.125</real>
      <key>public.kern2.o</key>
      <real>-55.625</real>
      <key>public.kern2.y</key>
      <real>-66.875</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-112.5</real>
      <key>public.kern2.AE</key>
      <real>-146.875</real>
      <key>public.kern2.J</key>
      <real>-76.875</real>
      <key>public.kern2.O</key>
      <real>-71.25</real>
      <key>public.kern2.S</key>
      <real>-36.875</real>
      <key>public.kern2.V</key>
      <real>-15.625</real>
      <key>public.kern2.W</key>
      <real>-15.625</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <real>-21.25</real>
      <key>public.kern2.a</key>
      <real>-102.5</real>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <real>-106.875</real>
      <key>public.kern2.hyphen</key>
      <real>-108.75</real>
      <key>public.kern2.n</key>
      <real>-65.625</real>
      <key>public.kern2.o</key>
      <real>-111.25</real>
      <key>public.kern2.p</key>
      <real>-54.375</real>
      <key>public.kern2.period</key>
      <real>-145.625</real>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <real>-93.75</real>
      <key>public.kern2.t</key>
      <real>-43.75</real>
      <key>public.kern2.u</key>
      <real>-76.875</real>
      <key>public.kern2.v</key>
      <real>-62.5</real>
      <key>public.kern2.w</key>
      <real>-51.25</real>
      <key>public.kern2.x</key>
      <real>-66.875</real>
      <key>public.kern2.y</key>
      <real>-52.5</real>
      <key>public.kern2.z</key>
      <real>-68.125</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-25.625</real>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.d</key>
      <real>-34.375</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <real>-48.75</real>
      <key>public.kern2.o</key>
      <real>-34.375</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-34.375</real>
      <key>public.kern2.w</key>
      <real>-34.375</real>
      <key>public.kern2.y</key>
      <real>-28.75</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.t</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-15.625</real>
      <key>public.kern2.w</key>
      <real>-15.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.t</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-25.625</real>
      <key>public.kern2.w</key>
      <real>-25.625</real>
      <key>public.kern2.x</key>
      <real>-25.625</real>
      <key>public.kern2.y</key>
      <real>-25.625</real>
      <key>public.kern2.z</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <real>-4.375</real>
      <key>public.kern2.t</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-15.625</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-25.625</real>
      <key>public.kern2.y</key>
      <real>-15.625</real>
      <key>public.kern2.z</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-111.25</real>
      <key>public.kern2.V</key>
      <real>-65.625</real>
      <key>public.kern2.W</key>
      <real>-71.25</real>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-13.375</real>
      <key>public.kern2.v</key>
      <real>-21.25</real>
      <key>public.kern2.w</key>
      <real>-15.625</real>
      <key>public.kern2.x</key>
      <real>-31.25</real>
      <key>public.kern2.y</key>
      <real>-21.25</real>
      <key>public.kern2.z</key>
      <real>-21.25</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>4.375</real>
      <key>public.kern2.A</key>
      <real>-38.75</real>
      <key>public.kern2.d</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <real>63.125</real>
      <key>public.kern2.period</key>
      <real>-38.75</real>
      <key>public.kern2.quoteright</key>
      <real>58.75</real>
      <key>public.kern2.s</key>
      <real>-15.625</real>
      <key>public.kern2.x</key>
      <real>-4.375</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-15.625</real>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-26.875</real>
      <key>public.kern2.s</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <real>-74.375</real>
      <key>public.kern2.W</key>
      <real>-58.75</real>
      <key>public.kern2.X</key>
      <real>-63.125</real>
      <key>public.kern2.Y</key>
      <real>-108.75</real>
      <key>public.kern2.Z</key>
      <real>-48.75</real>
      <key>public.kern2.x</key>
      <real>-54.375</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-15.625</real>
      <key>public.kern2.d</key>
      <real>-31.25</real>
      <key>public.kern2.f</key>
      <real>-21.25</real>
      <key>public.kern2.hyphen</key>
      <real>-54.375</real>
      <key>public.kern2.o</key>
      <real>-36.875</real>
      <key>public.kern2.s</key>
      <real>-35.625</real>
      <key>public.kern2.t</key>
      <real>-26.875</real>
      <key>public.kern2.u</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-21.25</real>
      <key>public.kern2.w</key>
      <real>-21.25</real>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-21.25</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.t</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-15.625</real>
      <key>public.kern2.w</key>
      <real>-15.625</real>
      <key>public.kern2.y</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-111.25</real>
      <key>public.kern2.V</key>
      <real>-76.875</real>
      <key>public.kern2.W</key>
      <real>-71.25</real>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.period</key>
      <real>-24.375</real>
      <key>public.kern2.quotesingle</key>
      <real>-28.75</real>
      <key>public.kern2.t</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-31.25</real>
      <key>public.kern2.w</key>
      <real>-26.875</real>
      <key>public.kern2.x</key>
      <real>-41.25</real>
      <key>public.kern2.y</key>
      <real>-25.625</real>
      <key>public.kern2.z</key>
      <real>-21.25</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-53.125</real>
      <key>public.kern2.T</key>
      <real>-134.375</real>
      <key>public.kern2.V</key>
      <real>-124.375</real>
      <key>public.kern2.W</key>
      <real>-108.75</real>
      <key>public.kern2.Y</key>
      <real>-145.625</real>
      <key>public.kern2.f</key>
      <real>-38.75</real>
      <key>public.kern2.o</key>
      <real>-24.375</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <real>-64.375</real>
      <key>public.kern2.y</key>
      <real>-48.75</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-85.625</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-108.125</real>
      <key>public.kern2.o</key>
      <real>-64.375</real>
      <key>public.kern2.r</key>
      <real>-13.125</real>
      <key>public.kern2.s</key>
      <real>-53.125</real>
      <key>public.kern2.v</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-33.125</real>
      <key>public.kern2.r</key>
      <real>-4.375</real>
      <key>public.kern2.s</key>
      <real>-38.75</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-11.25</real>
      <key>public.kern2.d</key>
      <real>-15.625</real>
      <key>public.kern2.hyphen</key>
      <real>-48.75</real>
      <key>public.kern2.o</key>
      <real>-15.625</real>
      <key>public.kern2.period</key>
      <real>-85.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-15.625</real>
      <key>public.kern2.t</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-21.25</real>
      <key>public.kern2.w</key>
      <real>-15.625</real>
      <key>public.kern2.x</key>
      <real>-21.25</real>
      <key>public.kern2.y</key>
      <real>-15.625</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <real>-15.625</real>
      <key>public.kern2.quoteright</key>
      <real>24.375</real>
      <key>public.kern2.quotesingle</key>
      <real>4.375</real>
      <key>public.kern2.x</key>
      <real>-4.375</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-76.875</real>
      <key>public.kern2.a</key>
      <real>-15.625</real>
      <key>public.kern2.d</key>
      <real>-25.625</real>
      <key>public.kern2.g</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <real>-31.25</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-21.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-15.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-62.5</real>
      <key>public.kern2.a</key>
      <real>-15.625</real>
      <key>public.kern2.d</key>
      <real>-25.625</real>
      <key>public.kern2.g</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <real>-26.875</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-21.25</real>
      <key>public.kern2.d</key>
      <real>-25.625</real>
      <key>public.kern2.f</key>
      <real>-21.25</real>
      <key>public.kern2.hyphen</key>
      <real>-54.375</real>
      <key>public.kern2.o</key>
      <real>-46.875</real>
      <key>public.kern2.s</key>
      <real>-21.25</real>
      <key>public.kern2.t</key>
      <real>-32.5</real>
      <key>public.kern2.u</key>
      <real>-15.625</real>
      <key>public.kern2.v</key>
      <real>-26.875</real>
      <key>public.kern2.w</key>
      <real>-26.875</real>
      <key>public.kern2.x</key>
      <real>-15.625</real>
      <key>public.kern2.y</key>
      <real>-26.875</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-76.875</real>
      <key>public.kern2.a</key>
      <real>-15.625</real>
      <key>public.kern2.d</key>
      <real>-25.625</real>
      <key>public.kern2.g</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <real>-25.625</real>
      <key>public.kern2.period</key>
      <real>-71.25</real>
      <key>public.kern2.s</key>
      <real>-21.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-15.625</real>
      <key>public.kern2.o</key>
      <real>-21.25</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>68.125</real>
    </dict>
  </dict>
</plist>
