<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>75.5</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>76.875</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>72.75</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-71.75</real>
      <key>public.kern2.O</key>
      <real>-48.625</real>
      <key>public.kern2.S</key>
      <real>-27.25</real>
      <key>public.kern2.T</key>
      <real>-117.25</real>
      <key>public.kern2.U</key>
      <real>-48.625</real>
      <key>public.kern2.V</key>
      <real>-113.125</real>
      <key>public.kern2.W</key>
      <real>-115.875</real>
      <key>public.kern2.X</key>
      <real>-27.25</real>
      <key>public.kern2.Y</key>
      <real>-124.5</real>
      <key>public.kern2.d</key>
      <real>-22.75</real>
      <key>public.kern2.f</key>
      <real>-31.375</real>
      <key>public.kern2.o</key>
      <real>-32.75</real>
      <key>public.kern2.quoteright</key>
      <real>-77.25</real>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <real>-22.75</real>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <real>-85.875</real>
      <key>public.kern2.w</key>
      <real>-74.5</real>
      <key>public.kern2.x</key>
      <real>-28.625</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-27.25</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-21.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-28.625</real>
      <key>public.kern2.Y</key>
      <real>-38.625</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-28.625</real>
      <key>public.kern2.T</key>
      <real>-27.25</real>
      <key>public.kern2.V</key>
      <real>-18.625</real>
      <key>public.kern2.W</key>
      <real>-18.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-44.5</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-31.375</real>
      <key>public.kern2.d</key>
      <real>-11.375</real>
      <key>public.kern2.o</key>
      <real>-21.375</real>
      <key>public.kern2.s</key>
      <real>-11.375</real>
      <key>public.kern2.v</key>
      <real>-68.625</real>
      <key>public.kern2.w</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <real>-12.75</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-94.5</real>
      <key>public.kern2.AE</key>
      <real>-158.625</real>
      <key>public.kern2.J</key>
      <real>-75.875</real>
      <key>public.kern2.O</key>
      <real>-54.5</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-27.25</real>
      <key>public.kern2.a</key>
      <real>-97.25</real>
      <key>public.kern2.d</key>
      <real>-78.625</real>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <real>-93.125</real>
      <key>public.kern2.n</key>
      <real>-77.25</real>
      <key>public.kern2.o</key>
      <real>-95.875</real>
      <key>public.kern2.p</key>
      <real>-85.875</real>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.r</key>
      <real>-67.25</real>
      <key>public.kern2.s</key>
      <real>-83.125</real>
      <key>public.kern2.t</key>
      <real>-48.625</real>
      <key>public.kern2.u</key>
      <real>-47.25</real>
      <key>public.kern2.v</key>
      <real>-74.5</real>
      <key>public.kern2.w</key>
      <real>-63.125</real>
      <key>public.kern2.x</key>
      <real>-93.125</real>
      <key>public.kern2.y</key>
      <real>-90.375</real>
      <key>public.kern2.z</key>
      <real>-93.125</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-42.75</real>
      <key>public.kern2.V</key>
      <real>-28.625</real>
      <key>public.kern2.W</key>
      <real>-28.625</real>
      <key>public.kern2.Y</key>
      <real>-48.625</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-27.25</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-61.75</real>
      <key>public.kern2.O</key>
      <real>-58.625</real>
      <key>public.kern2.S</key>
      <real>-35.875</real>
      <key>public.kern2.T</key>
      <real>-64.5</real>
      <key>public.kern2.U</key>
      <real>-28.625</real>
      <key>public.kern2.V</key>
      <real>-54.5</real>
      <key>public.kern2.W</key>
      <real>-35.875</real>
      <key>public.kern2.Y</key>
      <real>-45.875</real>
      <key>public.kern2.a</key>
      <real>-21.375</real>
      <key>public.kern2.d</key>
      <real>-41.375</real>
      <key>public.kern2.f</key>
      <real>-22.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-88.625</real>
      <key>public.kern2.w</key>
      <real>-58.625</real>
      <key>public.kern2.x</key>
      <real>-21.375</real>
      <key>public.kern2.y</key>
      <real>-58.625</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-27.25</real>
      <key>public.kern2.O</key>
      <real>-61.375</real>
      <key>public.kern2.T</key>
      <real>-91.375</real>
      <key>public.kern2.U</key>
      <real>-32.75</real>
      <key>public.kern2.V</key>
      <real>-91.375</real>
      <key>public.kern2.W</key>
      <real>-88.625</real>
      <key>public.kern2.Y</key>
      <real>-128.625</real>
      <key>public.kern2.d</key>
      <real>-12.75</real>
      <key>public.kern2.hyphen</key>
      <real>-44.125</real>
      <key>public.kern2.o</key>
      <real>-21.375</real>
      <key>public.kern2.quoteright</key>
      <real>-158.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-170</integer>
      <key>public.kern2.s</key>
      <real>-11.375</real>
      <key>public.kern2.v</key>
      <real>-52.75</real>
      <key>public.kern2.w</key>
      <real>-32.75</real>
      <key>public.kern2.y</key>
      <real>-34.125</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-48.625</real>
      <key>public.kern2.AE</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <real>-18.625</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-42.75</real>
      <key>public.kern2.V</key>
      <real>-48.625</real>
      <key>public.kern2.W</key>
      <real>-48.625</real>
      <key>public.kern2.X</key>
      <real>-75.875</real>
      <key>public.kern2.Y</key>
      <real>-77.25</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-44.125</real>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-114.5</real>
      <key>public.kern2.AE</key>
      <real>-121.375</real>
      <key>public.kern2.J</key>
      <real>-88.625</real>
      <key>public.kern2.T</key>
      <real>-31.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-28.625</real>
      <key>public.kern2.X</key>
      <real>-38.625</real>
      <key>public.kern2.Y</key>
      <real>-45.875</real>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <real>-34.125</real>
      <key>public.kern2.g</key>
      <real>-22.75</real>
      <key>public.kern2.o</key>
      <real>-34.125</real>
      <key>public.kern2.period</key>
      <real>-153.125</real>
      <key>public.kern2.s</key>
      <real>-38.625</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-28.625</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <real>-18.625</real>
      <key>public.kern2.W</key>
      <real>-18.625</real>
      <key>public.kern2.Y</key>
      <real>-35.875</real>
      <key>public.kern2.d</key>
      <real>-31.375</real>
      <key>public.kern2.g</key>
      <real>-22.75</real>
      <key>public.kern2.o</key>
      <real>-31.375</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-35.875</real>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>-11.375</real>
      <key>public.kern2.S</key>
      <real>-18.625</real>
      <key>public.kern2.T</key>
      <real>-27.25</real>
      <key>public.kern2.V</key>
      <real>-37.25</real>
      <key>public.kern2.W</key>
      <real>-28.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-45.875</real>
      <key>public.kern2.t</key>
      <real>-21.375</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <real>-28.625</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-107.25</real>
      <key>public.kern2.AE</key>
      <real>-141.375</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-42.75</real>
      <key>public.kern2.S</key>
      <real>-27.25</real>
      <key>public.kern2.X</key>
      <real>-18.625</real>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-113.125</real>
      <key>public.kern2.colon</key>
      <real>-81.375</real>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-32.75</real>
      <key>public.kern2.g</key>
      <real>-92.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-120</integer>
      <key>public.kern2.n</key>
      <real>-95.875</real>
      <key>public.kern2.o</key>
      <real>-117.25</real>
      <key>public.kern2.p</key>
      <real>-95.875</real>
      <key>public.kern2.period</key>
      <real>-131.375</real>
      <key>public.kern2.r</key>
      <real>-88.625</real>
      <key>public.kern2.s</key>
      <real>-115.875</real>
      <key>public.kern2.t</key>
      <real>-32.75</real>
      <key>public.kern2.u</key>
      <real>-97.25</real>
      <key>public.kern2.v</key>
      <real>-95.875</real>
      <key>public.kern2.w</key>
      <real>-87.25</real>
      <key>public.kern2.x</key>
      <real>-85.875</real>
      <key>public.kern2.y</key>
      <real>-95.875</real>
      <key>public.kern2.z</key>
      <real>-87.25</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-48.625</real>
      <key>public.kern2.AE</key>
      <real>-71.375</real>
      <key>public.kern2.J</key>
      <real>-18.625</real>
      <key>public.kern2.X</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-113.125</real>
      <key>public.kern2.AE</key>
      <real>-161.75</real>
      <key>public.kern2.J</key>
      <real>-74.5</real>
      <key>public.kern2.O</key>
      <real>-48.625</real>
      <key>public.kern2.S</key>
      <real>-37.25</real>
      <key>public.kern2.V</key>
      <real>-18.625</real>
      <key>public.kern2.W</key>
      <real>-18.625</real>
      <key>public.kern2.X</key>
      <real>-18.625</real>
      <key>public.kern2.Y</key>
      <real>-18.625</real>
      <key>public.kern2.a</key>
      <real>-75.875</real>
      <key>public.kern2.colon</key>
      <real>-41.375</real>
      <key>public.kern2.d</key>
      <real>-68.625</real>
      <key>public.kern2.g</key>
      <real>-77.25</real>
      <key>public.kern2.hyphen</key>
      <real>-71.375</real>
      <key>public.kern2.n</key>
      <real>-51.375</real>
      <key>public.kern2.o</key>
      <real>-85.875</real>
      <key>public.kern2.p</key>
      <real>-51.375</real>
      <key>public.kern2.period</key>
      <real>-121.375</real>
      <key>public.kern2.r</key>
      <real>-58.625</real>
      <key>public.kern2.s</key>
      <real>-68.625</real>
      <key>public.kern2.u</key>
      <real>-51.375</real>
      <key>public.kern2.v</key>
      <real>-37.25</real>
      <key>public.kern2.w</key>
      <real>-37.25</real>
      <key>public.kern2.x</key>
      <real>-37.25</real>
      <key>public.kern2.y</key>
      <real>-37.25</real>
      <key>public.kern2.z</key>
      <real>-38.625</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-115.875</real>
      <key>public.kern2.AE</key>
      <real>-154.5</real>
      <key>public.kern2.J</key>
      <real>-74.5</real>
      <key>public.kern2.O</key>
      <real>-48.625</real>
      <key>public.kern2.S</key>
      <real>-28.625</real>
      <key>public.kern2.V</key>
      <real>-18.625</real>
      <key>public.kern2.W</key>
      <real>-27.25</real>
      <key>public.kern2.X</key>
      <real>-18.625</real>
      <key>public.kern2.Y</key>
      <real>-18.625</real>
      <key>public.kern2.a</key>
      <real>-67.25</real>
      <key>public.kern2.d</key>
      <real>-68.625</real>
      <key>public.kern2.hyphen</key>
      <real>-52.75</real>
      <key>public.kern2.n</key>
      <real>-41.375</real>
      <key>public.kern2.o</key>
      <real>-77.25</real>
      <key>public.kern2.p</key>
      <real>-51.375</real>
      <key>public.kern2.period</key>
      <real>-102.75</real>
      <key>public.kern2.r</key>
      <real>-31.375</real>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <real>-28.625</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-27.25</real>
      <key>public.kern2.O</key>
      <real>-75.875</real>
      <key>public.kern2.S</key>
      <real>-47.25</real>
      <key>public.kern2.T</key>
      <real>-18.625</real>
      <key>public.kern2.U</key>
      <real>-18.625</real>
      <key>public.kern2.V</key>
      <real>-27.25</real>
      <key>public.kern2.W</key>
      <real>-27.25</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <real>-27.25</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>-54.125</real>
      <key>public.kern2.o</key>
      <real>-58.625</real>
      <key>public.kern2.y</key>
      <real>-75.875</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-124.5</real>
      <key>public.kern2.AE</key>
      <real>-155.875</real>
      <key>public.kern2.J</key>
      <real>-85.875</real>
      <key>public.kern2.O</key>
      <real>-77.25</real>
      <key>public.kern2.S</key>
      <real>-45.875</real>
      <key>public.kern2.V</key>
      <real>-18.625</real>
      <key>public.kern2.W</key>
      <real>-18.625</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <real>-27.25</real>
      <key>public.kern2.a</key>
      <real>-114.5</real>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <real>-115.875</real>
      <key>public.kern2.hyphen</key>
      <real>-102.75</real>
      <key>public.kern2.n</key>
      <real>-68.625</real>
      <key>public.kern2.o</key>
      <real>-117.25</real>
      <key>public.kern2.p</key>
      <real>-51.375</real>
      <key>public.kern2.period</key>
      <real>-148.625</real>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <real>-111.75</real>
      <key>public.kern2.t</key>
      <real>-61.75</real>
      <key>public.kern2.u</key>
      <real>-85.875</real>
      <key>public.kern2.v</key>
      <real>-74.5</real>
      <key>public.kern2.w</key>
      <real>-57.25</real>
      <key>public.kern2.x</key>
      <real>-75.875</real>
      <key>public.kern2.y</key>
      <real>-64.5</real>
      <key>public.kern2.z</key>
      <real>-83.125</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-28.625</real>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.d</key>
      <real>-31.375</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <real>-42.75</real>
      <key>public.kern2.o</key>
      <real>-31.375</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-31.375</real>
      <key>public.kern2.w</key>
      <real>-31.375</real>
      <key>public.kern2.y</key>
      <real>-22.75</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.t</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-18.625</real>
      <key>public.kern2.w</key>
      <real>-18.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.t</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-28.625</real>
      <key>public.kern2.w</key>
      <real>-28.625</real>
      <key>public.kern2.x</key>
      <real>-28.625</real>
      <key>public.kern2.y</key>
      <real>-28.625</real>
      <key>public.kern2.z</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <real>-1.375</real>
      <key>public.kern2.t</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-18.625</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-28.625</real>
      <key>public.kern2.y</key>
      <real>-18.625</real>
      <key>public.kern2.z</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-117.25</real>
      <key>public.kern2.V</key>
      <real>-68.625</real>
      <key>public.kern2.W</key>
      <real>-77.25</real>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-15.175</real>
      <key>public.kern2.v</key>
      <real>-27.25</real>
      <key>public.kern2.w</key>
      <real>-18.625</real>
      <key>public.kern2.x</key>
      <real>-37.25</real>
      <key>public.kern2.y</key>
      <real>-27.25</real>
      <key>public.kern2.z</key>
      <real>-27.25</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>1.375</real>
      <key>public.kern2.A</key>
      <real>-32.75</real>
      <key>public.kern2.d</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <real>54.125</real>
      <key>public.kern2.period</key>
      <real>-32.75</real>
      <key>public.kern2.quoteright</key>
      <real>52.75</real>
      <key>public.kern2.s</key>
      <real>-18.625</real>
      <key>public.kern2.x</key>
      <real>-1.375</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-18.625</real>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-35.875</real>
      <key>public.kern2.s</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <real>-71.375</real>
      <key>public.kern2.W</key>
      <real>-52.75</real>
      <key>public.kern2.X</key>
      <real>-54.125</real>
      <key>public.kern2.Y</key>
      <real>-102.75</real>
      <key>public.kern2.Z</key>
      <real>-42.75</real>
      <key>public.kern2.x</key>
      <real>-51.375</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-18.625</real>
      <key>public.kern2.d</key>
      <real>-37.25</real>
      <key>public.kern2.f</key>
      <real>-27.25</real>
      <key>public.kern2.hyphen</key>
      <real>-51.375</real>
      <key>public.kern2.o</key>
      <real>-45.875</real>
      <key>public.kern2.s</key>
      <real>-38.625</real>
      <key>public.kern2.t</key>
      <real>-35.875</real>
      <key>public.kern2.u</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-27.25</real>
      <key>public.kern2.w</key>
      <real>-27.25</real>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-27.25</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.t</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-18.625</real>
      <key>public.kern2.w</key>
      <real>-18.625</real>
      <key>public.kern2.y</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-117.25</real>
      <key>public.kern2.V</key>
      <real>-85.875</real>
      <key>public.kern2.W</key>
      <real>-77.25</real>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.period</key>
      <real>-21.375</real>
      <key>public.kern2.quotesingle</key>
      <real>-22.75</real>
      <key>public.kern2.t</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-37.25</real>
      <key>public.kern2.w</key>
      <real>-35.875</real>
      <key>public.kern2.x</key>
      <real>-47.25</real>
      <key>public.kern2.y</key>
      <real>-28.625</real>
      <key>public.kern2.z</key>
      <real>-27.25</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-44.125</real>
      <key>public.kern2.T</key>
      <real>-131.375</real>
      <key>public.kern2.V</key>
      <real>-121.375</real>
      <key>public.kern2.W</key>
      <real>-102.75</real>
      <key>public.kern2.Y</key>
      <real>-148.625</real>
      <key>public.kern2.f</key>
      <real>-32.75</real>
      <key>public.kern2.o</key>
      <real>-21.375</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <real>-61.375</real>
      <key>public.kern2.y</key>
      <real>-42.75</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-88.625</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-123.125</real>
      <key>public.kern2.o</key>
      <real>-61.375</real>
      <key>public.kern2.r</key>
      <real>-4.125</real>
      <key>public.kern2.s</key>
      <real>-44.125</real>
      <key>public.kern2.v</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-24.125</real>
      <key>public.kern2.r</key>
      <real>-1.375</real>
      <key>public.kern2.s</key>
      <real>-32.75</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-17.25</real>
      <key>public.kern2.d</key>
      <real>-18.625</real>
      <key>public.kern2.hyphen</key>
      <real>-42.75</real>
      <key>public.kern2.o</key>
      <real>-18.625</real>
      <key>public.kern2.period</key>
      <real>-88.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-18.625</real>
      <key>public.kern2.t</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-27.25</real>
      <key>public.kern2.w</key>
      <real>-18.625</real>
      <key>public.kern2.x</key>
      <real>-27.25</real>
      <key>public.kern2.y</key>
      <real>-18.625</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <real>-18.625</real>
      <key>public.kern2.quoteright</key>
      <real>21.375</real>
      <key>public.kern2.quotesingle</key>
      <real>1.375</real>
      <key>public.kern2.x</key>
      <real>-1.375</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-85.875</real>
      <key>public.kern2.a</key>
      <real>-18.625</real>
      <key>public.kern2.d</key>
      <real>-28.625</real>
      <key>public.kern2.g</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <real>-37.25</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-27.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-18.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-74.5</real>
      <key>public.kern2.a</key>
      <real>-18.625</real>
      <key>public.kern2.d</key>
      <real>-28.625</real>
      <key>public.kern2.g</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <real>-35.875</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-27.25</real>
      <key>public.kern2.d</key>
      <real>-28.625</real>
      <key>public.kern2.f</key>
      <real>-27.25</real>
      <key>public.kern2.hyphen</key>
      <real>-51.375</real>
      <key>public.kern2.o</key>
      <real>-55.875</real>
      <key>public.kern2.s</key>
      <real>-27.25</real>
      <key>public.kern2.t</key>
      <real>-44.5</real>
      <key>public.kern2.u</key>
      <real>-18.625</real>
      <key>public.kern2.v</key>
      <real>-35.875</real>
      <key>public.kern2.w</key>
      <real>-35.875</real>
      <key>public.kern2.x</key>
      <real>-18.625</real>
      <key>public.kern2.y</key>
      <real>-35.875</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-85.875</real>
      <key>public.kern2.a</key>
      <real>-18.625</real>
      <key>public.kern2.d</key>
      <real>-28.625</real>
      <key>public.kern2.g</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <real>-28.625</real>
      <key>public.kern2.period</key>
      <real>-77.25</real>
      <key>public.kern2.s</key>
      <real>-27.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-18.625</real>
      <key>public.kern2.o</key>
      <real>-27.25</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>83.125</real>
    </dict>
  </dict>
</plist>
