<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>103.5</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>111.875</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>86.75</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-29.75</real>
      <key>public.kern2.O</key>
      <real>-41.625</real>
      <key>public.kern2.S</key>
      <real>-13.25</real>
      <key>public.kern2.T</key>
      <real>-103.25</real>
      <key>public.kern2.U</key>
      <real>-41.625</real>
      <key>public.kern2.V</key>
      <real>-78.125</real>
      <key>public.kern2.W</key>
      <real>-94.875</real>
      <key>public.kern2.X</key>
      <real>-13.25</real>
      <key>public.kern2.Y</key>
      <real>-96.5</real>
      <key>public.kern2.d</key>
      <real>-36.75</real>
      <key>public.kern2.f</key>
      <real>-38.375</real>
      <key>public.kern2.o</key>
      <real>-46.75</real>
      <key>public.kern2.quoteright</key>
      <real>-63.25</real>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <real>-36.75</real>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <real>-64.875</real>
      <key>public.kern2.w</key>
      <real>-46.5</real>
      <key>public.kern2.x</key>
      <real>-21.625</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-13.25</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-28.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-21.625</real>
      <key>public.kern2.Y</key>
      <real>-31.625</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-21.625</real>
      <key>public.kern2.T</key>
      <real>-13.25</real>
      <key>public.kern2.V</key>
      <real>-11.625</real>
      <key>public.kern2.W</key>
      <real>-11.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-16.5</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-38.375</real>
      <key>public.kern2.d</key>
      <real>-18.375</real>
      <key>public.kern2.o</key>
      <real>-28.375</real>
      <key>public.kern2.s</key>
      <real>-18.375</real>
      <key>public.kern2.v</key>
      <real>-61.625</real>
      <key>public.kern2.w</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <real>-26.75</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-66.5</real>
      <key>public.kern2.AE</key>
      <real>-151.625</real>
      <key>public.kern2.J</key>
      <real>-54.875</real>
      <key>public.kern2.O</key>
      <real>-26.5</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-13.25</real>
      <key>public.kern2.a</key>
      <real>-83.25</real>
      <key>public.kern2.d</key>
      <real>-71.625</real>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <real>-58.125</real>
      <key>public.kern2.n</key>
      <real>-63.25</real>
      <key>public.kern2.o</key>
      <real>-74.875</real>
      <key>public.kern2.p</key>
      <real>-64.875</real>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.r</key>
      <real>-53.25</real>
      <key>public.kern2.s</key>
      <real>-48.125</real>
      <key>public.kern2.t</key>
      <real>-41.625</real>
      <key>public.kern2.u</key>
      <real>-33.25</real>
      <key>public.kern2.v</key>
      <real>-46.5</real>
      <key>public.kern2.w</key>
      <real>-28.125</real>
      <key>public.kern2.x</key>
      <real>-58.125</real>
      <key>public.kern2.y</key>
      <real>-41.375</real>
      <key>public.kern2.z</key>
      <real>-58.125</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-56.75</real>
      <key>public.kern2.V</key>
      <real>-21.625</real>
      <key>public.kern2.W</key>
      <real>-21.625</real>
      <key>public.kern2.Y</key>
      <real>-41.625</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-13.25</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-19.75</real>
      <key>public.kern2.O</key>
      <real>-51.625</real>
      <key>public.kern2.S</key>
      <real>-14.875</real>
      <key>public.kern2.T</key>
      <real>-36.5</real>
      <key>public.kern2.U</key>
      <real>-21.625</real>
      <key>public.kern2.V</key>
      <real>-26.5</real>
      <key>public.kern2.W</key>
      <real>-14.875</real>
      <key>public.kern2.Y</key>
      <real>-24.875</real>
      <key>public.kern2.a</key>
      <real>-28.375</real>
      <key>public.kern2.d</key>
      <real>-48.375</real>
      <key>public.kern2.f</key>
      <real>-36.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-81.625</real>
      <key>public.kern2.w</key>
      <real>-51.625</real>
      <key>public.kern2.x</key>
      <real>-28.375</real>
      <key>public.kern2.y</key>
      <real>-51.625</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-13.25</real>
      <key>public.kern2.O</key>
      <real>-68.375</real>
      <key>public.kern2.T</key>
      <real>-98.375</real>
      <key>public.kern2.U</key>
      <real>-46.75</real>
      <key>public.kern2.V</key>
      <real>-98.375</real>
      <key>public.kern2.W</key>
      <real>-81.625</real>
      <key>public.kern2.Y</key>
      <real>-121.625</real>
      <key>public.kern2.d</key>
      <real>-26.75</real>
      <key>public.kern2.hyphen</key>
      <real>-65.125</real>
      <key>public.kern2.o</key>
      <real>-28.375</real>
      <key>public.kern2.quoteright</key>
      <real>-151.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-170</integer>
      <key>public.kern2.s</key>
      <real>-18.375</real>
      <key>public.kern2.v</key>
      <real>-66.75</real>
      <key>public.kern2.w</key>
      <real>-46.75</real>
      <key>public.kern2.y</key>
      <real>-55.125</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-41.625</real>
      <key>public.kern2.AE</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <real>-11.625</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-56.75</real>
      <key>public.kern2.V</key>
      <real>-41.625</real>
      <key>public.kern2.W</key>
      <real>-41.625</real>
      <key>public.kern2.X</key>
      <real>-54.875</real>
      <key>public.kern2.Y</key>
      <real>-63.25</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-65.125</real>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-86.5</real>
      <key>public.kern2.AE</key>
      <real>-128.375</real>
      <key>public.kern2.J</key>
      <real>-81.625</real>
      <key>public.kern2.T</key>
      <real>-38.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-21.625</real>
      <key>public.kern2.X</key>
      <real>-31.625</real>
      <key>public.kern2.Y</key>
      <real>-24.875</real>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <real>-55.125</real>
      <key>public.kern2.g</key>
      <real>-36.75</real>
      <key>public.kern2.o</key>
      <real>-55.125</real>
      <key>public.kern2.period</key>
      <real>-118.125</real>
      <key>public.kern2.s</key>
      <real>-31.625</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-21.625</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <real>-11.625</real>
      <key>public.kern2.W</key>
      <real>-11.625</real>
      <key>public.kern2.Y</key>
      <real>-14.875</real>
      <key>public.kern2.d</key>
      <real>-38.375</real>
      <key>public.kern2.g</key>
      <real>-36.75</real>
      <key>public.kern2.o</key>
      <real>-38.375</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-14.875</real>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>-18.375</real>
      <key>public.kern2.S</key>
      <real>-11.625</real>
      <key>public.kern2.T</key>
      <real>-13.25</real>
      <key>public.kern2.V</key>
      <real>-23.25</real>
      <key>public.kern2.W</key>
      <real>-21.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-24.875</real>
      <key>public.kern2.t</key>
      <real>-28.375</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <real>-21.625</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-93.25</real>
      <key>public.kern2.AE</key>
      <real>-148.375</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-56.75</real>
      <key>public.kern2.S</key>
      <real>-13.25</real>
      <key>public.kern2.X</key>
      <real>-11.625</real>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-78.125</real>
      <key>public.kern2.colon</key>
      <real>-88.375</real>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-46.75</real>
      <key>public.kern2.g</key>
      <real>-106.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-120</integer>
      <key>public.kern2.n</key>
      <real>-74.875</real>
      <key>public.kern2.o</key>
      <real>-103.25</real>
      <key>public.kern2.p</key>
      <real>-74.875</real>
      <key>public.kern2.period</key>
      <real>-138.375</real>
      <key>public.kern2.r</key>
      <real>-81.625</real>
      <key>public.kern2.s</key>
      <real>-94.875</real>
      <key>public.kern2.t</key>
      <real>-46.75</real>
      <key>public.kern2.u</key>
      <real>-83.25</real>
      <key>public.kern2.v</key>
      <real>-74.875</real>
      <key>public.kern2.w</key>
      <real>-73.25</real>
      <key>public.kern2.x</key>
      <real>-64.875</real>
      <key>public.kern2.y</key>
      <real>-74.875</real>
      <key>public.kern2.z</key>
      <real>-73.25</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-41.625</real>
      <key>public.kern2.AE</key>
      <real>-78.375</real>
      <key>public.kern2.J</key>
      <real>-11.625</real>
      <key>public.kern2.X</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-78.125</real>
      <key>public.kern2.AE</key>
      <real>-119.75</real>
      <key>public.kern2.J</key>
      <real>-46.5</real>
      <key>public.kern2.O</key>
      <real>-41.625</real>
      <key>public.kern2.S</key>
      <real>-23.25</real>
      <key>public.kern2.V</key>
      <real>-11.625</real>
      <key>public.kern2.W</key>
      <real>-11.625</real>
      <key>public.kern2.X</key>
      <real>-11.625</real>
      <key>public.kern2.Y</key>
      <real>-11.625</real>
      <key>public.kern2.a</key>
      <real>-54.875</real>
      <key>public.kern2.colon</key>
      <real>-48.375</real>
      <key>public.kern2.d</key>
      <real>-61.625</real>
      <key>public.kern2.g</key>
      <real>-63.25</real>
      <key>public.kern2.hyphen</key>
      <real>-78.375</real>
      <key>public.kern2.n</key>
      <real>-58.375</real>
      <key>public.kern2.o</key>
      <real>-64.875</real>
      <key>public.kern2.p</key>
      <real>-58.375</real>
      <key>public.kern2.period</key>
      <real>-128.375</real>
      <key>public.kern2.r</key>
      <real>-51.625</real>
      <key>public.kern2.s</key>
      <real>-61.625</real>
      <key>public.kern2.u</key>
      <real>-58.375</real>
      <key>public.kern2.v</key>
      <real>-23.25</real>
      <key>public.kern2.w</key>
      <real>-23.25</real>
      <key>public.kern2.x</key>
      <real>-23.25</real>
      <key>public.kern2.y</key>
      <real>-23.25</real>
      <key>public.kern2.z</key>
      <real>-31.625</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-94.875</real>
      <key>public.kern2.AE</key>
      <real>-126.5</real>
      <key>public.kern2.J</key>
      <real>-46.5</real>
      <key>public.kern2.O</key>
      <real>-41.625</real>
      <key>public.kern2.S</key>
      <real>-21.625</real>
      <key>public.kern2.V</key>
      <real>-11.625</real>
      <key>public.kern2.W</key>
      <real>-13.25</real>
      <key>public.kern2.X</key>
      <real>-11.625</real>
      <key>public.kern2.Y</key>
      <real>-11.625</real>
      <key>public.kern2.a</key>
      <real>-53.25</real>
      <key>public.kern2.d</key>
      <real>-61.625</real>
      <key>public.kern2.hyphen</key>
      <real>-66.75</real>
      <key>public.kern2.n</key>
      <real>-48.375</real>
      <key>public.kern2.o</key>
      <real>-63.25</real>
      <key>public.kern2.p</key>
      <real>-58.375</real>
      <key>public.kern2.period</key>
      <real>-116.75</real>
      <key>public.kern2.r</key>
      <real>-38.375</real>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <real>-21.625</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-13.25</real>
      <key>public.kern2.O</key>
      <real>-54.875</real>
      <key>public.kern2.S</key>
      <real>-33.25</real>
      <key>public.kern2.T</key>
      <real>-11.625</real>
      <key>public.kern2.U</key>
      <real>-11.625</real>
      <key>public.kern2.V</key>
      <real>-13.25</real>
      <key>public.kern2.W</key>
      <real>-13.25</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <real>-13.25</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>-75.125</real>
      <key>public.kern2.o</key>
      <real>-51.625</real>
      <key>public.kern2.y</key>
      <real>-54.875</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-96.5</real>
      <key>public.kern2.AE</key>
      <real>-134.875</real>
      <key>public.kern2.J</key>
      <real>-64.875</real>
      <key>public.kern2.O</key>
      <real>-63.25</real>
      <key>public.kern2.S</key>
      <real>-24.875</real>
      <key>public.kern2.V</key>
      <real>-11.625</real>
      <key>public.kern2.W</key>
      <real>-11.625</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <real>-13.25</real>
      <key>public.kern2.a</key>
      <real>-86.5</real>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <real>-94.875</real>
      <key>public.kern2.hyphen</key>
      <real>-116.75</real>
      <key>public.kern2.n</key>
      <real>-61.625</real>
      <key>public.kern2.o</key>
      <real>-103.25</real>
      <key>public.kern2.p</key>
      <real>-58.375</real>
      <key>public.kern2.period</key>
      <real>-141.625</real>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <real>-69.75</real>
      <key>public.kern2.t</key>
      <real>-19.75</real>
      <key>public.kern2.u</key>
      <real>-64.875</real>
      <key>public.kern2.v</key>
      <real>-46.5</real>
      <key>public.kern2.w</key>
      <real>-43.25</real>
      <key>public.kern2.x</key>
      <real>-54.875</real>
      <key>public.kern2.y</key>
      <real>-36.5</real>
      <key>public.kern2.z</key>
      <real>-48.125</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-21.625</real>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.d</key>
      <real>-38.375</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <real>-56.75</real>
      <key>public.kern2.o</key>
      <real>-38.375</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-38.375</real>
      <key>public.kern2.w</key>
      <real>-38.375</real>
      <key>public.kern2.y</key>
      <real>-36.75</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.t</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-11.625</real>
      <key>public.kern2.w</key>
      <real>-11.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.t</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-21.625</real>
      <key>public.kern2.w</key>
      <real>-21.625</real>
      <key>public.kern2.x</key>
      <real>-21.625</real>
      <key>public.kern2.y</key>
      <real>-21.625</real>
      <key>public.kern2.z</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <real>-8.375</real>
      <key>public.kern2.t</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-11.625</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-21.625</real>
      <key>public.kern2.y</key>
      <real>-11.625</real>
      <key>public.kern2.z</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-103.25</real>
      <key>public.kern2.V</key>
      <real>-61.625</real>
      <key>public.kern2.W</key>
      <real>-63.25</real>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-10.975</real>
      <key>public.kern2.v</key>
      <real>-13.25</real>
      <key>public.kern2.w</key>
      <real>-11.625</real>
      <key>public.kern2.x</key>
      <real>-23.25</real>
      <key>public.kern2.y</key>
      <real>-13.25</real>
      <key>public.kern2.z</key>
      <real>-13.25</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>8.375</real>
      <key>public.kern2.A</key>
      <real>-46.75</real>
      <key>public.kern2.d</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <real>75.125</real>
      <key>public.kern2.period</key>
      <real>-46.75</real>
      <key>public.kern2.quoteright</key>
      <real>66.75</real>
      <key>public.kern2.s</key>
      <real>-11.625</real>
      <key>public.kern2.x</key>
      <real>-8.375</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-11.625</real>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-14.875</real>
      <key>public.kern2.s</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <real>-78.375</real>
      <key>public.kern2.W</key>
      <real>-66.75</real>
      <key>public.kern2.X</key>
      <real>-75.125</real>
      <key>public.kern2.Y</key>
      <real>-116.75</real>
      <key>public.kern2.Z</key>
      <real>-56.75</real>
      <key>public.kern2.x</key>
      <real>-58.375</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-11.625</real>
      <key>public.kern2.d</key>
      <real>-23.25</real>
      <key>public.kern2.f</key>
      <real>-13.25</real>
      <key>public.kern2.hyphen</key>
      <real>-58.375</real>
      <key>public.kern2.o</key>
      <real>-24.875</real>
      <key>public.kern2.s</key>
      <real>-31.625</real>
      <key>public.kern2.t</key>
      <real>-14.875</real>
      <key>public.kern2.u</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-13.25</real>
      <key>public.kern2.w</key>
      <real>-13.25</real>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-13.25</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.t</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-11.625</real>
      <key>public.kern2.w</key>
      <real>-11.625</real>
      <key>public.kern2.y</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-103.25</real>
      <key>public.kern2.V</key>
      <real>-64.875</real>
      <key>public.kern2.W</key>
      <real>-63.25</real>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.period</key>
      <real>-28.375</real>
      <key>public.kern2.quotesingle</key>
      <real>-36.75</real>
      <key>public.kern2.t</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-23.25</real>
      <key>public.kern2.w</key>
      <real>-14.875</real>
      <key>public.kern2.x</key>
      <real>-33.25</real>
      <key>public.kern2.y</key>
      <real>-21.625</real>
      <key>public.kern2.z</key>
      <real>-13.25</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-65.125</real>
      <key>public.kern2.T</key>
      <real>-138.375</real>
      <key>public.kern2.V</key>
      <real>-128.375</real>
      <key>public.kern2.W</key>
      <real>-116.75</real>
      <key>public.kern2.Y</key>
      <real>-141.625</real>
      <key>public.kern2.f</key>
      <real>-46.75</real>
      <key>public.kern2.o</key>
      <real>-28.375</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <real>-68.375</real>
      <key>public.kern2.y</key>
      <real>-56.75</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-81.625</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-88.125</real>
      <key>public.kern2.o</key>
      <real>-68.375</real>
      <key>public.kern2.r</key>
      <real>-25.125</real>
      <key>public.kern2.s</key>
      <real>-65.125</real>
      <key>public.kern2.v</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-45.125</real>
      <key>public.kern2.r</key>
      <real>-8.375</real>
      <key>public.kern2.s</key>
      <real>-46.75</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-3.25</real>
      <key>public.kern2.d</key>
      <real>-11.625</real>
      <key>public.kern2.hyphen</key>
      <real>-56.75</real>
      <key>public.kern2.o</key>
      <real>-11.625</real>
      <key>public.kern2.period</key>
      <real>-81.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-11.625</real>
      <key>public.kern2.t</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-13.25</real>
      <key>public.kern2.w</key>
      <real>-11.625</real>
      <key>public.kern2.x</key>
      <real>-13.25</real>
      <key>public.kern2.y</key>
      <real>-11.625</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <real>-11.625</real>
      <key>public.kern2.quoteright</key>
      <real>28.375</real>
      <key>public.kern2.quotesingle</key>
      <real>8.375</real>
      <key>public.kern2.x</key>
      <real>-8.375</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-64.875</real>
      <key>public.kern2.a</key>
      <real>-11.625</real>
      <key>public.kern2.d</key>
      <real>-21.625</real>
      <key>public.kern2.g</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <real>-23.25</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-13.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-11.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-46.5</real>
      <key>public.kern2.a</key>
      <real>-11.625</real>
      <key>public.kern2.d</key>
      <real>-21.625</real>
      <key>public.kern2.g</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <real>-14.875</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-13.25</real>
      <key>public.kern2.d</key>
      <real>-21.625</real>
      <key>public.kern2.f</key>
      <real>-13.25</real>
      <key>public.kern2.hyphen</key>
      <real>-58.375</real>
      <key>public.kern2.o</key>
      <real>-34.875</real>
      <key>public.kern2.s</key>
      <real>-13.25</real>
      <key>public.kern2.t</key>
      <real>-16.5</real>
      <key>public.kern2.u</key>
      <real>-11.625</real>
      <key>public.kern2.v</key>
      <real>-14.875</real>
      <key>public.kern2.w</key>
      <real>-14.875</real>
      <key>public.kern2.x</key>
      <real>-11.625</real>
      <key>public.kern2.y</key>
      <real>-14.875</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-64.875</real>
      <key>public.kern2.a</key>
      <real>-11.625</real>
      <key>public.kern2.d</key>
      <real>-21.625</real>
      <key>public.kern2.g</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <real>-21.625</real>
      <key>public.kern2.period</key>
      <real>-63.25</real>
      <key>public.kern2.s</key>
      <real>-13.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-11.625</real>
      <key>public.kern2.o</key>
      <real>-13.25</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>48.125</real>
    </dict>
  </dict>
</plist>
