<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>107.5</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>116.875</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>88.75</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-23.75</real>
      <key>public.kern2.O</key>
      <real>-40.625</real>
      <key>public.kern2.S</key>
      <real>-11.25</real>
      <key>public.kern2.T</key>
      <real>-101.25</real>
      <key>public.kern2.U</key>
      <real>-40.625</real>
      <key>public.kern2.V</key>
      <real>-73.125</real>
      <key>public.kern2.W</key>
      <real>-91.875</real>
      <key>public.kern2.X</key>
      <real>-11.25</real>
      <key>public.kern2.Y</key>
      <real>-92.5</real>
      <key>public.kern2.d</key>
      <real>-38.75</real>
      <key>public.kern2.f</key>
      <real>-39.375</real>
      <key>public.kern2.o</key>
      <real>-48.75</real>
      <key>public.kern2.quoteright</key>
      <real>-61.25</real>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <real>-38.75</real>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <real>-61.875</real>
      <key>public.kern2.w</key>
      <real>-42.5</real>
      <key>public.kern2.x</key>
      <real>-20.625</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-11.25</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-29.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-20.625</real>
      <key>public.kern2.Y</key>
      <real>-30.625</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-20.625</real>
      <key>public.kern2.T</key>
      <real>-11.25</real>
      <key>public.kern2.V</key>
      <real>-10.625</real>
      <key>public.kern2.W</key>
      <real>-10.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-12.5</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-39.375</real>
      <key>public.kern2.d</key>
      <real>-19.375</real>
      <key>public.kern2.o</key>
      <real>-29.375</real>
      <key>public.kern2.s</key>
      <real>-19.375</real>
      <key>public.kern2.v</key>
      <real>-60.625</real>
      <key>public.kern2.w</key>
      <integer>-50</integer>
      <key>public.kern2.x</key>
      <real>-28.75</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-62.5</real>
      <key>public.kern2.AE</key>
      <real>-150.625</real>
      <key>public.kern2.J</key>
      <real>-51.875</real>
      <key>public.kern2.O</key>
      <real>-22.5</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <real>-11.25</real>
      <key>public.kern2.a</key>
      <real>-81.25</real>
      <key>public.kern2.d</key>
      <real>-70.625</real>
      <key>public.kern2.f</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <real>-53.125</real>
      <key>public.kern2.n</key>
      <real>-61.25</real>
      <key>public.kern2.o</key>
      <real>-71.875</real>
      <key>public.kern2.p</key>
      <real>-61.875</real>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.r</key>
      <real>-51.25</real>
      <key>public.kern2.s</key>
      <real>-43.125</real>
      <key>public.kern2.t</key>
      <real>-40.625</real>
      <key>public.kern2.u</key>
      <real>-31.25</real>
      <key>public.kern2.v</key>
      <real>-42.5</real>
      <key>public.kern2.w</key>
      <real>-23.125</real>
      <key>public.kern2.x</key>
      <real>-53.125</real>
      <key>public.kern2.y</key>
      <real>-34.375</real>
      <key>public.kern2.z</key>
      <real>-53.125</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-58.75</real>
      <key>public.kern2.V</key>
      <real>-20.625</real>
      <key>public.kern2.W</key>
      <real>-20.625</real>
      <key>public.kern2.Y</key>
      <real>-40.625</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-11.25</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-13.75</real>
      <key>public.kern2.O</key>
      <real>-50.625</real>
      <key>public.kern2.S</key>
      <real>-11.875</real>
      <key>public.kern2.T</key>
      <real>-32.5</real>
      <key>public.kern2.U</key>
      <real>-20.625</real>
      <key>public.kern2.V</key>
      <real>-22.5</real>
      <key>public.kern2.W</key>
      <real>-11.875</real>
      <key>public.kern2.Y</key>
      <real>-21.875</real>
      <key>public.kern2.a</key>
      <real>-29.375</real>
      <key>public.kern2.d</key>
      <real>-49.375</real>
      <key>public.kern2.f</key>
      <real>-38.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-80.625</real>
      <key>public.kern2.w</key>
      <real>-50.625</real>
      <key>public.kern2.x</key>
      <real>-29.375</real>
      <key>public.kern2.y</key>
      <real>-50.625</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-11.25</real>
      <key>public.kern2.O</key>
      <real>-69.375</real>
      <key>public.kern2.T</key>
      <real>-99.375</real>
      <key>public.kern2.U</key>
      <real>-48.75</real>
      <key>public.kern2.V</key>
      <real>-99.375</real>
      <key>public.kern2.W</key>
      <real>-80.625</real>
      <key>public.kern2.Y</key>
      <real>-120.625</real>
      <key>public.kern2.d</key>
      <real>-28.75</real>
      <key>public.kern2.hyphen</key>
      <real>-68.125</real>
      <key>public.kern2.o</key>
      <real>-29.375</real>
      <key>public.kern2.quoteright</key>
      <real>-150.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-170</integer>
      <key>public.kern2.s</key>
      <real>-19.375</real>
      <key>public.kern2.v</key>
      <real>-68.75</real>
      <key>public.kern2.w</key>
      <real>-48.75</real>
      <key>public.kern2.y</key>
      <real>-58.125</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-40.625</real>
      <key>public.kern2.AE</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <real>-10.625</real>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>-58.75</real>
      <key>public.kern2.V</key>
      <real>-40.625</real>
      <key>public.kern2.W</key>
      <real>-40.625</real>
      <key>public.kern2.X</key>
      <real>-51.875</real>
      <key>public.kern2.Y</key>
      <real>-61.25</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-68.125</real>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-82.5</real>
      <key>public.kern2.AE</key>
      <real>-129.375</real>
      <key>public.kern2.J</key>
      <real>-80.625</real>
      <key>public.kern2.T</key>
      <real>-39.375</real>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-20.625</real>
      <key>public.kern2.X</key>
      <real>-30.625</real>
      <key>public.kern2.Y</key>
      <real>-21.875</real>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <real>-58.125</real>
      <key>public.kern2.g</key>
      <real>-38.75</real>
      <key>public.kern2.o</key>
      <real>-58.125</real>
      <key>public.kern2.period</key>
      <real>-113.125</real>
      <key>public.kern2.s</key>
      <real>-30.625</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-20.625</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <real>-10.625</real>
      <key>public.kern2.W</key>
      <real>-10.625</real>
      <key>public.kern2.Y</key>
      <real>-11.875</real>
      <key>public.kern2.d</key>
      <real>-39.375</real>
      <key>public.kern2.g</key>
      <real>-38.75</real>
      <key>public.kern2.o</key>
      <real>-39.375</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-11.875</real>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>-19.375</real>
      <key>public.kern2.S</key>
      <real>-10.625</real>
      <key>public.kern2.T</key>
      <real>-11.25</real>
      <key>public.kern2.V</key>
      <real>-21.25</real>
      <key>public.kern2.W</key>
      <real>-20.625</real>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-21.875</real>
      <key>public.kern2.t</key>
      <real>-29.375</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <real>-20.625</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-91.25</real>
      <key>public.kern2.AE</key>
      <real>-149.375</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-58.75</real>
      <key>public.kern2.S</key>
      <real>-11.25</real>
      <key>public.kern2.X</key>
      <real>-10.625</real>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-73.125</real>
      <key>public.kern2.colon</key>
      <real>-89.375</real>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-48.75</real>
      <key>public.kern2.g</key>
      <real>-108.75</real>
      <key>public.kern2.hyphen</key>
      <integer>-120</integer>
      <key>public.kern2.n</key>
      <real>-71.875</real>
      <key>public.kern2.o</key>
      <real>-101.25</real>
      <key>public.kern2.p</key>
      <real>-71.875</real>
      <key>public.kern2.period</key>
      <real>-139.375</real>
      <key>public.kern2.r</key>
      <real>-80.625</real>
      <key>public.kern2.s</key>
      <real>-91.875</real>
      <key>public.kern2.t</key>
      <real>-48.75</real>
      <key>public.kern2.u</key>
      <real>-81.25</real>
      <key>public.kern2.v</key>
      <real>-71.875</real>
      <key>public.kern2.w</key>
      <real>-71.25</real>
      <key>public.kern2.x</key>
      <real>-61.875</real>
      <key>public.kern2.y</key>
      <real>-71.875</real>
      <key>public.kern2.z</key>
      <real>-71.25</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-40.625</real>
      <key>public.kern2.AE</key>
      <real>-79.375</real>
      <key>public.kern2.J</key>
      <real>-10.625</real>
      <key>public.kern2.X</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-73.125</real>
      <key>public.kern2.AE</key>
      <real>-113.75</real>
      <key>public.kern2.J</key>
      <real>-42.5</real>
      <key>public.kern2.O</key>
      <real>-40.625</real>
      <key>public.kern2.S</key>
      <real>-21.25</real>
      <key>public.kern2.V</key>
      <real>-10.625</real>
      <key>public.kern2.W</key>
      <real>-10.625</real>
      <key>public.kern2.X</key>
      <real>-10.625</real>
      <key>public.kern2.Y</key>
      <real>-10.625</real>
      <key>public.kern2.a</key>
      <real>-51.875</real>
      <key>public.kern2.colon</key>
      <real>-49.375</real>
      <key>public.kern2.d</key>
      <real>-60.625</real>
      <key>public.kern2.g</key>
      <real>-61.25</real>
      <key>public.kern2.hyphen</key>
      <real>-79.375</real>
      <key>public.kern2.n</key>
      <real>-59.375</real>
      <key>public.kern2.o</key>
      <real>-61.875</real>
      <key>public.kern2.p</key>
      <real>-59.375</real>
      <key>public.kern2.period</key>
      <real>-129.375</real>
      <key>public.kern2.r</key>
      <real>-50.625</real>
      <key>public.kern2.s</key>
      <real>-60.625</real>
      <key>public.kern2.u</key>
      <real>-59.375</real>
      <key>public.kern2.v</key>
      <real>-21.25</real>
      <key>public.kern2.w</key>
      <real>-21.25</real>
      <key>public.kern2.x</key>
      <real>-21.25</real>
      <key>public.kern2.y</key>
      <real>-21.25</real>
      <key>public.kern2.z</key>
      <real>-30.625</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-91.875</real>
      <key>public.kern2.AE</key>
      <real>-122.5</real>
      <key>public.kern2.J</key>
      <real>-42.5</real>
      <key>public.kern2.O</key>
      <real>-40.625</real>
      <key>public.kern2.S</key>
      <real>-20.625</real>
      <key>public.kern2.V</key>
      <real>-10.625</real>
      <key>public.kern2.W</key>
      <real>-11.25</real>
      <key>public.kern2.X</key>
      <real>-10.625</real>
      <key>public.kern2.Y</key>
      <real>-10.625</real>
      <key>public.kern2.a</key>
      <real>-51.25</real>
      <key>public.kern2.d</key>
      <real>-60.625</real>
      <key>public.kern2.hyphen</key>
      <real>-68.75</real>
      <key>public.kern2.n</key>
      <real>-49.375</real>
      <key>public.kern2.o</key>
      <real>-61.25</real>
      <key>public.kern2.p</key>
      <real>-59.375</real>
      <key>public.kern2.period</key>
      <real>-118.75</real>
      <key>public.kern2.r</key>
      <real>-39.375</real>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <real>-20.625</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-11.25</real>
      <key>public.kern2.O</key>
      <real>-51.875</real>
      <key>public.kern2.S</key>
      <real>-31.25</real>
      <key>public.kern2.T</key>
      <real>-10.625</real>
      <key>public.kern2.U</key>
      <real>-10.625</real>
      <key>public.kern2.V</key>
      <real>-11.25</real>
      <key>public.kern2.W</key>
      <real>-11.25</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <real>-11.25</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <real>-78.125</real>
      <key>public.kern2.o</key>
      <real>-50.625</real>
      <key>public.kern2.y</key>
      <real>-51.875</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-92.5</real>
      <key>public.kern2.AE</key>
      <real>-131.875</real>
      <key>public.kern2.J</key>
      <real>-61.875</real>
      <key>public.kern2.O</key>
      <real>-61.25</real>
      <key>public.kern2.S</key>
      <real>-21.875</real>
      <key>public.kern2.V</key>
      <real>-10.625</real>
      <key>public.kern2.W</key>
      <real>-10.625</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <real>-11.25</real>
      <key>public.kern2.a</key>
      <real>-82.5</real>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.d</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <real>-91.875</real>
      <key>public.kern2.hyphen</key>
      <real>-118.75</real>
      <key>public.kern2.n</key>
      <real>-60.625</real>
      <key>public.kern2.o</key>
      <real>-101.25</real>
      <key>public.kern2.p</key>
      <real>-59.375</real>
      <key>public.kern2.period</key>
      <real>-140.625</real>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <real>-63.75</real>
      <key>public.kern2.t</key>
      <real>-13.75</real>
      <key>public.kern2.u</key>
      <real>-61.875</real>
      <key>public.kern2.v</key>
      <real>-42.5</real>
      <key>public.kern2.w</key>
      <real>-41.25</real>
      <key>public.kern2.x</key>
      <real>-51.875</real>
      <key>public.kern2.y</key>
      <real>-32.5</real>
      <key>public.kern2.z</key>
      <real>-43.125</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-20.625</real>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.d</key>
      <real>-39.375</real>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <real>-58.75</real>
      <key>public.kern2.o</key>
      <real>-39.375</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <real>-39.375</real>
      <key>public.kern2.w</key>
      <real>-39.375</real>
      <key>public.kern2.y</key>
      <real>-38.75</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.t</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-10.625</real>
      <key>public.kern2.w</key>
      <real>-10.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.t</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-20.625</real>
      <key>public.kern2.w</key>
      <real>-20.625</real>
      <key>public.kern2.x</key>
      <real>-20.625</real>
      <key>public.kern2.y</key>
      <real>-20.625</real>
      <key>public.kern2.z</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <real>-9.375</real>
      <key>public.kern2.t</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-10.625</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-20.625</real>
      <key>public.kern2.y</key>
      <real>-10.625</real>
      <key>public.kern2.z</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-101.25</real>
      <key>public.kern2.V</key>
      <real>-60.625</real>
      <key>public.kern2.W</key>
      <real>-61.25</real>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-10.375</real>
      <key>public.kern2.v</key>
      <real>-11.25</real>
      <key>public.kern2.w</key>
      <real>-10.625</real>
      <key>public.kern2.x</key>
      <real>-21.25</real>
      <key>public.kern2.y</key>
      <real>-11.25</real>
      <key>public.kern2.z</key>
      <real>-11.25</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>9.375</real>
      <key>public.kern2.A</key>
      <real>-48.75</real>
      <key>public.kern2.d</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <real>78.125</real>
      <key>public.kern2.period</key>
      <real>-48.75</real>
      <key>public.kern2.quoteright</key>
      <real>68.75</real>
      <key>public.kern2.s</key>
      <real>-10.625</real>
      <key>public.kern2.x</key>
      <real>-9.375</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-10.625</real>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-11.875</real>
      <key>public.kern2.s</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.V</key>
      <real>-79.375</real>
      <key>public.kern2.W</key>
      <real>-68.75</real>
      <key>public.kern2.X</key>
      <real>-78.125</real>
      <key>public.kern2.Y</key>
      <real>-118.75</real>
      <key>public.kern2.Z</key>
      <real>-58.75</real>
      <key>public.kern2.x</key>
      <real>-59.375</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.parenright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-10.625</real>
      <key>public.kern2.d</key>
      <real>-21.25</real>
      <key>public.kern2.f</key>
      <real>-11.25</real>
      <key>public.kern2.hyphen</key>
      <real>-59.375</real>
      <key>public.kern2.o</key>
      <real>-21.875</real>
      <key>public.kern2.s</key>
      <real>-30.625</real>
      <key>public.kern2.t</key>
      <real>-11.875</real>
      <key>public.kern2.u</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-11.25</real>
      <key>public.kern2.w</key>
      <real>-11.25</real>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-11.25</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.t</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-10.625</real>
      <key>public.kern2.w</key>
      <real>-10.625</real>
      <key>public.kern2.y</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-101.25</real>
      <key>public.kern2.V</key>
      <real>-61.875</real>
      <key>public.kern2.W</key>
      <real>-61.25</real>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.period</key>
      <real>-29.375</real>
      <key>public.kern2.quotesingle</key>
      <real>-38.75</real>
      <key>public.kern2.t</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-21.25</real>
      <key>public.kern2.w</key>
      <real>-11.875</real>
      <key>public.kern2.x</key>
      <real>-31.25</real>
      <key>public.kern2.y</key>
      <real>-20.625</real>
      <key>public.kern2.z</key>
      <real>-11.25</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-68.125</real>
      <key>public.kern2.T</key>
      <real>-139.375</real>
      <key>public.kern2.V</key>
      <real>-129.375</real>
      <key>public.kern2.W</key>
      <real>-118.75</real>
      <key>public.kern2.Y</key>
      <real>-140.625</real>
      <key>public.kern2.f</key>
      <real>-48.75</real>
      <key>public.kern2.o</key>
      <real>-29.375</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <real>-69.375</real>
      <key>public.kern2.y</key>
      <real>-58.75</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-80.625</real>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-83.125</real>
      <key>public.kern2.o</key>
      <real>-69.375</real>
      <key>public.kern2.r</key>
      <real>-28.125</real>
      <key>public.kern2.s</key>
      <real>-68.125</real>
      <key>public.kern2.v</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-48.125</real>
      <key>public.kern2.r</key>
      <real>-9.375</real>
      <key>public.kern2.s</key>
      <real>-48.75</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-1.25</real>
      <key>public.kern2.d</key>
      <real>-10.625</real>
      <key>public.kern2.hyphen</key>
      <real>-58.75</real>
      <key>public.kern2.o</key>
      <real>-10.625</real>
      <key>public.kern2.period</key>
      <real>-80.625</real>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-10.625</real>
      <key>public.kern2.t</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-11.25</real>
      <key>public.kern2.w</key>
      <real>-10.625</real>
      <key>public.kern2.x</key>
      <real>-11.25</real>
      <key>public.kern2.y</key>
      <real>-10.625</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <real>-10.625</real>
      <key>public.kern2.quoteright</key>
      <real>29.375</real>
      <key>public.kern2.quotesingle</key>
      <real>9.375</real>
      <key>public.kern2.x</key>
      <real>-9.375</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-61.875</real>
      <key>public.kern2.a</key>
      <real>-10.625</real>
      <key>public.kern2.d</key>
      <real>-20.625</real>
      <key>public.kern2.g</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <real>-21.25</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-11.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-10.625</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-42.5</real>
      <key>public.kern2.a</key>
      <real>-10.625</real>
      <key>public.kern2.d</key>
      <real>-20.625</real>
      <key>public.kern2.g</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <real>-11.875</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-11.25</real>
      <key>public.kern2.d</key>
      <real>-20.625</real>
      <key>public.kern2.f</key>
      <real>-11.25</real>
      <key>public.kern2.hyphen</key>
      <real>-59.375</real>
      <key>public.kern2.o</key>
      <real>-31.875</real>
      <key>public.kern2.s</key>
      <real>-11.25</real>
      <key>public.kern2.t</key>
      <real>-12.5</real>
      <key>public.kern2.u</key>
      <real>-10.625</real>
      <key>public.kern2.v</key>
      <real>-11.875</real>
      <key>public.kern2.w</key>
      <real>-11.875</real>
      <key>public.kern2.x</key>
      <real>-10.625</real>
      <key>public.kern2.y</key>
      <real>-11.875</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-61.875</real>
      <key>public.kern2.a</key>
      <real>-10.625</real>
      <key>public.kern2.d</key>
      <real>-20.625</real>
      <key>public.kern2.g</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <real>-20.625</real>
      <key>public.kern2.period</key>
      <real>-61.25</real>
      <key>public.kern2.s</key>
      <real>-11.25</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.d</key>
      <real>-10.625</real>
      <key>public.kern2.o</key>
      <real>-11.25</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>43.125</real>
    </dict>
  </dict>
</plist>
